body {font-size:12px; font-family:宋体,Arial; color:#000000; margin:0 auto; padding:0;}
p{margin:0; padding:0;}
ul{margin:0; padding:0;}
li{margin:0; padding:0;} 
div{margin:0; padding:0; float:left; display:inline;}
#ibody{width:1000px; margin:0 auto; float:none; display:block;}

#title1 a{text-decoration:none;}
.column_recommend_b a{color:#003899; text-decoration:none;}
.column_edit_b .t1 a{color:#666666; text-decoration:none;}

#bread{width:494px; height:23px; margin-top:16px; padding-left:130px; font-size:12px; color:#666666; line-height:23px; background:url(/images/public/bread.jpg) no-repeat 10px 0;}
#bread a{color:#666666; text-decoration:none;}
#bread_line{width:1000px; height:8px; margin-top:2px; background:url('/images/public/bread_line.jpg') no-repeat;}

#column_left{width:670px; padding-bottom:30px; margin-top:15px;}
.column_left_top{width:670px;}
.column_special{width:330px;}
.column_special a{color:#003899; text-decoration:none;}
.column_special_top{width:300px; height:73px; margin-top:11px;}
.column_special_top .t1{width:300px; height:28px; overflow:hidden; font-size:20px; font-family:SimHei; color:#003899; line-height:28px;}
.column_special_top .t2{width:300px; height:40px; color:#666666; overflow:hidden; font-size:12px; line-height:20px;}
.column_special_top .t2 a{color:#666666; text-decoration:none;}
.column_recommend{width:300px;  margin-top:40px;}
.column_recommend_top{width:300px; margin-bottom:10px;}
.column_recommend_top_l{width:89px;}
.column_recommend_top_l .picture{width:90px; height:90px;}
.column_recommend_top_l .picture img{width:90px; height:90px;}
.column_recommend_top_r{width:195px; margin-left:8px;}
.column_recommend_top_r .t1{width:195px; height:18px; font-size:13px; font-weight:bold; overflow:hidden; line-height:18px;}
.column_recommend_top_r .t1 a{color:#000000; text-decoration:none;}
.column_recommend_top_r .t2{width:195px; height:40px; margin-top:7px; font-size:14px; font-weight:bold; overflow:hidden; color:#003899; line-height:20px;}
.column_recommend_top_r .t3{width:195px; height:40px; font-size:12px; overflow:hidden; line-height:20px;}
.column_recommend_top_r .t3 a{color:#666666; text-decoration:none;}
.column_recommend_b{width:300px; height:20px; font-size:14px; overflow:hidden; text-indent:14px; line-height:20px; background:url(/images/public/circle1.jpg) no-repeat 0 8px;}
.column_edit{width:320px; margin-left:5px;}
.column_edit_t{width:310px; margin-top:11px;}
.column_edit_t a{text-decoration:none;}
.column_edit_t .t1{width:310px;}
.column_edit_t .t2{width:300px; height:23px; overflow:hidden; font-size:16px; color:#003899; font-weight:bold;  line-height:23px;}
.column_edit_t .t2 a{color:#003899;}
.column_edit_t .t3{height:23px; margin-right:10px; font-size:12px; color:#666666; overflow:hidden; line-height:23px; float:right;}
.column_edit_t .t3 a{color:#666666;}
.column_edit_t .t4{width:300px; height:44px; font-size:12px; line-height:22px; margin-top:5px; overflow:hidden;}
.column_edit_t .t4 a{color:#666666;}
.column_edit_recommend{width:320px; line-height:20px;}
.column_edit_recommend a{text-decoration:none;}
.column_edit_recommend .t1{width:310px; font-weight:bold; margin-top:7px; background:url(/images/public/circle1.jpg) no-repeat 0 8px; *background:url(/images/public/circle1.jpg) no-repeat 0 8px;}
.column_edit_recommend .t1 a{color:#323284;}
.column_edit_recommend .t2{width:310px; height:20px; overflow:hidden; font-size:14px; line-height:20px; margin-left:15px;}
.column_edit_recommend .t2 a{color:#003899; font-weight:normal;}
.column_edit_recommend .t3{height:20px; margin-right:10px; font-size:12px; color:#666666; font-weight:normal; overflow:hidden; line-height:20px; float:right;}


#steven{width:310px; height:210px; margin-bottom:10px; font-family:"宋体"; font-size: 13px; background:#eaeaea;}
#steven a{text-decoration:none;}
#steven #pic{width:90px; margin-top:15px; margin-bottom:10px; margin-left:10px; float:left;}
#pic div{float:left;}
#steven #pic img{width:90px; height:90px;}
#steven #pic #picimg{width:90px; height:90px;}
#steven #pic #title{width:100px; height:20px; margin-top:5px; text-align:center; line-height:20px;}
#steven #pic #title a{color:#666666;}
#steven #pictitle{width:190px; height:25px; margin-top:10px; margin-right:10px; font-size:16px; font-weight:bold; line-height:25px; float:right; color: #333333;}
#steven #pictitle a{color:#0f0f0f;}
#steven_name{ height:20px; margin-top:3px; float:right; text-align: right; color:#000000; font-weight: normal;}
#steven_name a{font-size:13px; line-height:20px;} 
#steven #piccontent{width:190px; height:50px; margin-top:5px; margin-right:10px; float:right;}
#steven #piccontent #title{width:180px; height:20px; line-height:20px; color:#12469F; font-weight:bold;  overflow:hidden;}
#steven #piccontent #title a{color:#12469F;}
#steven #piccontent #content{width:180px; height:45px; margin-top:3px; line-height:15px; color:#999999; overflow:hidden;}
#steven #piccontent #info{line-height:15px; margin-top:5px; margin-right:3px; float:right;}
#steven #piccontent #info a{color:#666666}
#steven .title{width:100%;height:20px; margin-left:15px;padding-left:10px; font-size:14px; line-height:20px; float:left; overflow: hidden;background:url(/images/public/circle1.jpg) no-repeat 0 8px;}
.title a{color:#003899;}


.caption{width:200px; height:28px;}
.captions{height:18px; margin-top:5px; padding-left:18px; line-height:18px; font-size:14px; color:#666666; font-weight:bold;  background:url(/images/public/square.jpg) no-repeat 0 5px;}
.line{width:1px; height:10px; margin-top:8px; margin-left:10px; font-size:10px; line-height:10px;}
.more{width:38px; height:8px; margin-top:10px; margin-left:15px; background:url(/images/public/more.jpg) no-repeat; float:left;}

.column_edit_b{width:310px; margin-left:5px; margin-top:10px;}
.column_edit_b .t1{width:310px; height:18px; margin-top:8px;}
.column_edit_b .t2{width:150px; height:18px; font-size:12px; margin-top:10px; line-height:18px;}
.column_edit_b .t2 a{color:#666666; text-decoration:none;}


.t_title{width:80px;}
.dash1{width:648px; height:1px; margin-top:20px; font-size:0; line-height:0; padding:0; background:url(/images/column/dash.jpg) repeat-x;}
.dash2{width:310px; height:1px; margin-top:20px; font-size:0; line-height:0; padding:0; background:url(/images/column/dash.jpg) repeat-x;}

#column_person_left{width:180px; margin-top:10px;}
#column_person_left_t{width:180px; height:3px; font-size:0; background:url('/images/column/l_t.jpg') no-repeat;}
#column_person_left_b{width:180px; height:3px; background:url('/images/column/l_b.jpg') no-repeat;}
#column_person_left_content{width:178px; border-left:1px solid #f5f5f5; border-right:1px solid #f5f5f5; background:#fafafa;}
#column_person_left_content #top{width:140px; margin-top:20px; margin-left:19px;}
#column_person_left_content #top #pic{width:138px; height:138px; border:1px solid #cccccc; overflow:hidden;}
#column_person_left_content #top #pic img{width:136px; height:136px; margin:1px;}
#column_person_left_content #top #pictitle_left{width:140px; height:21px; margin-top:10px; line-height:21px; overflow:hidden;}
#column_person_left_content #top #pictitle_left a{color:#3075b9;}
#column_person_left_content #top #pictitle_right{width:66px; height:21px; margin-top:10px; float:right;}
#column_person_left_content #top #pictitle_right button{width:66px; height:21px; border:0px; background:url('/images/column/btn_bg.jpg') no-repeat; color:#000000;}
#column_person_left_content .c_title{width:178px; height:28px; border-top:1px solid #F5F5F5; border-bottom:1px solid #F5F5F5; margin-top:20px; background:url('/images/column/l_title_bg1.jpg') repeat-x;}
#column_person_left_content .c_title .wz{height:18px; margin-top:6px; margin-left:10px; color:#4990b9; font-weight:bold; font-size:14px; line-height:18px;}
#column_person_left_content #c_content{width:152px; height:140px; margin-top:10px; margin-left:14px; overflow:hidden; line-height:20px;}
#column_person_left_content #c_content a{color:#666666; text-decoration:none;}
#column_person_left_content #c_c_b{height:16px; margin-top:10px; margin-right:15px; float:right;}
#column_person_left_content #c_c_b a{color:#3075b9;}
#column_person_left_content #c_b_title{width:158px; height:30px; margin-top:15px; margin-left:11px; background:url('/images/column/l_c_b_title.jpg') no-repeat;}
#column_person_left_content #c_b_title #wz{height:18px; margin-top:6px; margin-left:10px; line-height:18px; font-size:14px; color:#A8A8A8; font-weight:bold;}
#column_person_left_content .c_b_content{width:158px; height:16px; margin-bottom:10px; line-height:16px; overflow:hidden;}
#column_person_left_content .c_b_content a{color:#3075b9; text-decoration:none;}
.c_b_content a.selected{background-color: yellow;}
#column_person_left_content .b_b_left{width:66px; margin-top:8px; margin-left:15px;}
#column_person_left_content .b_pic{width:64px; height:64px; border:1px solid #cccccc;}
#column_person_left_content .b_pic img{width:62px; height:62px; margin:1px;}
#column_person_left_content .b_pictitle{width:66px; height:40px; margin-top:5px; line-height:20px; text-align:center; overflow:hidden;}
#column_person_left_content .b_pictitle a{color:#666666;}
#column_person_right{width:788px; margin-top:10px; border:1px solid #bdcbd7; float:right;}
#column_person_right #title{width:788px; height:35px; background:#3891be; line-height:30px; color: #FFF}
#column_person_right .dq_title{width:136px; height:29px; margin-top:6px; margin-left:60px; line-height:26px; color:#055c99; font-weight:bold; font-size:15px; cursor:pointer; background:url('/images/column/right_title_bg1.jpg') no-repeat; text-align:center;}
#column_person_right .other_title{width:136px; height:29px; margin-top:6px; margin-left:60px; line-height:26px; font-size:15px; cursor:pointer; font-weight:bold; text-align:center;}
.other_title.selected{ color:#055C99; background:url('/images/column/right_title_bg1.jpg') no-repeat; }
.r_content{width:754px; margin-top:20px; margin-left:17px; padding-bottm:10px;}
.r_content .r_title{width:754px; height:30px;  background:#f0f0f0;}
.r_content .r_title .wz{height:18px; margin-top:6px; margin-left:10px; line-height:18px; color:#303082; font-weight:bold;}
.r_content .r_title .wz a{color:#303082; text-decoration:none;}
.r_content .r_title .subtime{height:16px; margin-top:7px;  margin-right:10px; line-height:16px; color:#999999; float:right;}
.r_content .r_read{width:200px; height:16px; margin-top:10px; font-size:12px; line-height:16px; color:#055c99; text-align:right; float:right;}
.r_content .r_context{width:730px; height:100px; margin-top:10px; margin-left:13px; margin-bottom:10px; line-height:20px; font-size:13px; text-indent:2em; color:#666666; overflow: hidden;}
.r_content .r_dash{width:740px; height:1px; margin-left:7px; margin-top:5px; overflow:hidden; background:url('/images/column/r_dash.jpg') no-repeat;}
.page{width:788px; height:30px; margin-top:20px; font-size:14px; line-height:30px; color:#666666; text-decoration:none; text-align:center;}
.page a{color:#246BB0; text-decoration:none;}
.r_content .column_image{width:150px; margin-top:20px; margin-left:31px; float:left;}
.r_content .column_image img{width:150px;}
.r_content .column_image_title{width:150px; margin-top:5px; line-height:15px; color:#666666; overflow:hidden;}
.r_content .column_content{width:716px; font-size:14px; margin-top:10px; margin-left:19px; line-height:20px;}
.column_image div{width:100%; text-align:center;}
#datetime{width:145px; height:104px; margin-top:10px; margin-left:21px; overflow-y:auto; overflow-x:hidden;}


