body {font-size:12px; font-family:宋体,Arial; color:#000000; margin:0 auto; padding:0;}
#ibody{width:1000px; margin:0 auto; float:none; display:block;}


#bread{width:494px; height:23px; margin-top:16px; padding-left:130px; font-size:12px; color:#666666; line-height:23px; background:url(/images/public/bread.jpg) no-repeat 10px 0;}
#bread a{color:#666666; text-decoration:none;}
#bread span{color:#246BB0;}
#bread_line{width:1000px; height:8px; margin-top:2px; background:url('/images/public/bread_line.jpg') no-repeat;}

#left{width:460px; height:400px;}
#left_top{width:400px; height:35px; margin-left:30px; margin-top:20px; border:1px solid #D3E5EF; }
#left_title{width:398px; height:34px; border:1px solid #ffffff; border-bottom:none; background:#EBF2F6;}
#left_bottom{width:400px; margin-left:30px; padding-top:20px; padding-bottom:40px; border:1px solid #D3E5EF; border-top:none;}
.line_div{width:350px; height:30px; margin-top:15px; margin-left:37px; font-size:14px;}
.line_div input{width:240px; margin-left:10px;}
.line_div select{width:245px; *width:247px; margin-left:10px;}
#login{width:100px; height:22px; margin-left:65px; line-height:22px; border:1px solid #666666; cursor:pointer; float:left; display:inline;}
#left_bottom1{margin-left:65px; font-size:12px;}
#left_bottom1 a{color:#3C7FB1;}
#left_bottom2{margin-left:30px; font-size:12px;}
#left_bottom2 a{color:#3C7FB1;}



#font1{margin-top:71px; width:249px;}
.font2{margin-top:20px; width:249px;}
.input3{margin-top:20px; width:100px; float:left; display:inline;}
#left-font1{width:70px; height:20px; margin-left:37px; margin-top:71px;  float:left; display:inline;}
#left-font2{width:70px; height:20px; margin-left:37px; margin-top:20px; font-size:14px; float:left; display:inline;}
#left-font3{width:70px; height:20px; margin-left:37px; margin-top:20px; font-size:14px; float:left; display:inline;}
#change_pic{width:70px; height:20px; margin-top:20px; cursor:pointer; font-size:14px; float:left; display:inline;}
#yz_img{height:20px; margin-top:20px; margin-left:10px; float:left; display:inline;}

#left-bottom1{width:66px; height:16px; margin-left:100px; margin-top:30px; font-size:12px; float:left; display:inline;}
#left-bottom1 a{color:#3C7FB1;}
#left-bottom2{width:66px; height:16px; margin-left:20px; margin-top:30px; font-size:12px; float:left; display:inline;}
#left-bottom2 a{color:#3C7FB1;}

#right{width:520px; height:400px; background:#FFFFFF; float:left; display:inline;}
#rightp{width:510px; height:300px; margin-left:10px; margin-top:20px; float:left; display:inline;}
#right-title{width:220px; height:20px; margin-left:50px; font-size:16px; font-weight:bold; color:#444444; float:left; display:inline;}
#right-font{width:320px; height:30px; margin-top:15px; margin-left:50px; font-size:12px; color:#444444; float:left; display:inline;}

#error{width:400px; height:30px; margin-top:50px; margin-left:50px; line-height:30px; font-size:14px; float:left; display:inline;}

#login_banner{width:500px; height:190px; overflow:hidden; float:left; display:inline;}
#login_banner img{width:500px; height:190px;}
#content_c{width:380px; height:70px; margin-top:50px; float:left; display:inline;}