body {font-size:12px; font-family:宋体,Arial; color:#000000; margin:0 auto; padding:0;}
p{margin:0; padding:0;}
ul{margin:0; padding:0;}
li{margin:0; padding:0;}
div{margin:0; padding:0; float:left; display:inline;}

#ibody{width:1000px; margin:0 auto; float:none; display:block;}
#bread{width:494px; height:23px; margin-top:16px; padding-left:130px; font-size:12px; color:#666666; line-height:23px; background:url(/images/public/bread.jpg) no-repeat 10px 0;}
#bread a{color:#666666; text-decoration:none;}
#bread_line{width:1000px; height:8px; margin-top:2px; background:url('/images/public/bread_line.jpg') no-repeat;}
#hr_top{width:1000px; height:20px; background:url(../images/comments/zh_hr.jpg) no-repeat;  float:left; dislay:inline;}

#c_join_a{width:630px; margin-top:12px;  float:left; display:inline;}


.news_caption {width:500px; height:28px; margin-top:5px; margin-left:10px;}
.news_caption .captions{height:18px; margin-top:5px; padding-left:18px; line-height:18px; font-size:14px; color:#666666; font-weight:bold;  background:url(/images/public/square.jpg) no-repeat 0 5px;}
.news_caption .captions span{margin-left:10px; font-weight:normal; font-size:12px; color:#7F7F7F;}

#left{width:630px;}

.hr{WIDTH:630PX; height:1PX;}

.c_join{width:630px; margin-top:2px;}

.join_top{width:640px; height:15px; font-size:14px;}
.join_top div{line-height:18px;}
.time{width:160px; height:18px; margin-right:5px; text-align:right; font-size:12px; color:#666666; float:right;}
.issues{width:425px; height:18px; color:#333333; overflow:hidden;}
.issues span{margin-right:15px; color:#246BB0;}
.content{width:620px; margin-top:8px; background:#EFEFEF; color:#333333; padding-left:10px; padding-right:10px; border-top:5px solid #efefef; border-bottom:5px solid #efefef; line-height:20px;}

.hr_dashed{width:640px; height:15px;  background:url(../images/news/dash.gif) repeat-x; margin-top:15px; }

.content_lable{width:600px; margin-bottom:5px; margin-right:7px; margin-left:15px;  margin-top:5px; }

.title_people{width:100px; height:18px;}
#page{width:650px; height:30px; margin-top:20px; font-size:14px; line-height:30px; color:#666666; text-align:center;}
#page a{color:#246BB0; text-decoration:none;}
#content_bottom{width:620PX;  MARGIN-TOP:10PX;}

#z{width:125px; cursor:pointer;}
#z_bottom{width:615px;}
#z_right{width:150px; margin-top:5px;  text-align:right; font-size:13px; float:right;}
#z_left{width:150px; text-align:left; margin-top:3px; margin-left:5px; font-size:14px; font-weight:bold;}
#c_text{width:620px; }
#text{width:615px; height:100px; }
#ta{width:620px; height:80px;	 margin-top:10px; BORDER: #666666 1px solid;}
#submit{width:100px; height:20px; margin-left:50px; text-align:center; background:#AEAEAE; }
#s_radio{width:25px; height:18px; margin-left:200px;}
#s_niming{width:40px; height:18px; margin-top:2px;  font-weight:bold; }