@CHARSET "UTF-8";
body {font-size:12px;  font-family:宋体; font-size:12px; color:#000;  margin:0; padding:0;}
#ibody{width:1002px; margin:0 auto; float:none; display:block;}
div{margin:0; padding:0; float:left; display:inline;}
#register{width:1002px; float:left; display:inline;}
#register .title{width:1000px; height:23px; margin-top:5px; line-height:23px; background:#e9e9e9; overflow:hidden;}
#register .title_left{margin-left:50px; color:#050000; font-weight:bold;}
#register .title_right{margin-right:10px; color:#313132; font-weight:bold; float:right;}
#register .title_right .content{height:23px; padding-left:15px; padding-right:10px; text-align:center;}
#register .title_right .content1{height:23px; padding-left:15px; padding-right:10px; text-align:center; background:#f4d14c;}
#register .title_right .arrow{width:13px; height:23px; background:url(/images/register/title_bg1.jpg) no-repeat;}
#register .title_right .arrow1{width:13px; height:23px; background:url(/images/register/title_bg2.jpg) no-repeat;}

#info{width:988px; padding-bottom:5px; margin-top:5px; margin-left:5px; border:1px solid #bdbdbd;}
#info #content{width:978px; margin-top:2px; margin-left:5px; padding-bottom:20px; background:#f4f4f4;}
#info #content_left{width:132px; padding:4px; margin-top:45px; margin-left:20px; border:1px solid #dfdfdf; background:#ffffff;}
#info #content_left .context{width:132px; height:36px; margin-bottom:4px; background:url(/images/register/info_left.jpg) no-repeat; line-height:36px; color:#000000; font-weight:bold; text-align:center;}
#info #content_left .context a{color:#000000; text-decoration:none;}
#info #content_left .context.select{height:33px; background:url(/images/register/info_left_select.jpg) no-repeat; line-height:33px; color:#D3051D;}
#info #content_left .context.select a{color:#D3051D; text-decoration:none;}
#info #content_right{width:736px; border:1px solid #dad9d9; margin-top:25px; padding:20px; margin-right:20px; line-height:24px; background:#ffffff; float:right;}
#info #content_right #order_desc{color:#4C4B4B; font-size:14px; font-weight:bold;}
#info #content_right table{margin-top:20px; line-height:38px; float:left; display:inline;}
#info #content_right .txt1{width:286px; height:18px; border:1px solid #7F9DB9;}
#info #content_right .radio_div{margin-right:10px;}
#info #content_right select{height:20px; border:1px solid #7F9DB9;}
#info #content_right .sel1{width:216px;}
#info #content_right .sel2{width:181px;}
#info #content_right .sel3{width:135px;}
#info #content_right .txt2{width:316px; height:18px; border:1px solid #7F9DB9;}
#info #content_right .txt3{width:132px; height:18px; border:1px solid #7F9DB9;}
#yzm{width:60px; height:18px; margin-left:10px; font-size:16px; font-weight:bold; line-height:18px; }
#chang_pic{width:110px; line-height:18px; cursor:pointer; color:#246BB0; margin-left:15px;}
#info #content_bottom{width:736px; margin-top:25px;  margin-right:20px; text-align:center; float:right;}
#info #content_bottom button{width:170px; height:35px;  line-height:25px; text-align:center; font-size:14px; border:0px; font-weight:bold; background:url('/images/register/button.jpg') no-repeat;}

.p_list{width:410px; margin-left:50px; margin-top:20px; line-height:20px; color:#333333; font-size:12px; float:left; display:inline;}
.p_list input{width:320px; height:18px; border:1px solid #85A5C1; float:right; display:inline;}
.p_list label{float:left; display:inline;}

.right_list{width:650px; height:20px; margin-left:50px; margin-top:30px; color:#333333; font-size:13px; line-height:20px; float:left; display:inline;}
.right_list2{font-size:12px;}
.right_check_list{width:600px; height:15px; line-height:15px; margin-left:40px; margin-top:10px; color:#666666; float:left; display:inline;}
.right_check_list input{margin-left:15px; float:left; display:inline;}
.right_check_list label{margin-top:2px; *margin-top:4px; margin-left:2px; float:left; display:inline;}

.right{width:812px; margin-top:10px; margin-left:8px;  float:left; display:inline;}
.right_title{width:812px; height:43px; font-size:13px; line-height:43px; background:url(/images/user/right_title.gif); text-indent:30px; float:left; display:inline;}
#r_title1{color:#2A5575; font-weight:bolder;}
#r_title2{color:#000000; margin-right:50px;}
.right_title2{width:100%; height:35px; background:#3891BE;}
.right_title4{width:136px; height:30px; font-size:15px; color:#FFFFFF; margin-top:6px; margin-left:25px; text-align:center; line-height:30px; font-weight:bold;}
.right_text{width:100%; font-size:13px; color:#999999;  margin-top:10px; display:none;} 
.right_box{width:100%; float:left; display:inline;}
.paginate{width:100%; margin-top:50px; line-height:20px; text-align:center; float:left; display:inline;}
.paginate a{color:#246BB0; text-decoration:none;}
.li1{width:500px; height:15px; margin-top:15px; margin-left:10px; line-height:15px; text-indent:10px; overflow:hidden; background:url(/images/user/tar.jpg) no-repeat 0 5px; float:left; display:inline;}
.li1 a{color:#333333; text-decoration:none;}
.li2{width:160px; text-indent:10px; margin-top:15px; float:left; display:inline;}

.user_b{width:94px; height:26px; margin-left:300px; margin-top:50px; clear:both; line-height:26px; background:url(/images/register/upload_bg.jpg); border:0; float:left; display:inline;}

#bread{width:494px; height:23px; margin-top:16px; padding-left:130px; font-size:12px; color:#666666; line-height:23px; background:url(/images/public/bread.jpg) no-repeat 10px 0;}
#bread a{color:#666666; text-decoration:none;}
#bread_line{width:1000px; height:8px; margin-top:2px; background:url('/images/public/bread_line.jpg') no-repeat;}