body {font-size:12px; font-family:宋体,Arial; color:#000000; margin:0 auto; padding:0;}
p{margin:0; padding:0;}
ul{margin:0; padding:0;}
li{margin:0; padding:0;} 
div{margin:0; padding:0; }

#ibody{width:1000px; margin:0 auto; float:none; display:block;}

#bread{width:494px; height:23px; margin-top:16px; padding-left:130px; font-size:12px; color:#666666; line-height:23px; background:url(/images/public/bread.jpg) no-repeat 10px 0;}
#bread a{color:#666666; text-decoration:none;}
#bread_line{width:1000px; height:8px; margin-top:2px; background:url(/images/public/bread_line.jpg) no-repeat;}

#hr_top{width:1000px; height:14px; background:url(/images/contact/zh_hr.jpg) no-repeat;  float:left; dislay:inline;};
#middle{width:1000px; margin-top:5px; }



#middle_left{width:213px; height:420px; }
#middle_menu{width:212px; height:350px; }
#middle_left a{color: #333333;	text-decoration: none;}


#menu_t{width:210px; height:8px;  background:url(/images/contact/middle_background_top.jpg) no-repeat; font-size:0px; line-height:0px; }
#menu{width:208px;height:328px; border-left:1px solid #D7D7D7;  border-right:1px solid #D7D7D7; background:#EBE9EA; }
#menu_b{width:210px; height:9px; background:url(/images/contact/middle_background_bottom.jpg) no-repeat; }


#left_text_a{width:160px; height:20px; margin-top:10px; margin-left:25px; font-size:13px;  border-bottom:1px solid #DDDDDD; text-align:center; }
#left_text_bg{width:150px; height:280px; margin-left:20px; margin-top:8px; }
.left_text{width:160px; height:30px; margin-left:25px; border-top:1px solid #FFFFFF; font-size:13px; border-bottom:1px solid #DDDDDD; line-height:35px;  text-align:center; }
#left_text_b{width:160px; height:30px;  margin-left:25px; line-height:35px; font-size:13px;  border-top:1px solid #FFFFFF;  text-align:center; }


#right{width:754px;  margin-left:25px; }
#right_t{width:759px; height:15px; background:url(/images/contact/zhr_top.jpg); }
#right_title{width:754px; margin-left:1px;  border-left:1px solid #EBE9EA; border-right:1px solid #EBE9EA; }
#right_b{width:759px; height:15px; margin-left:-1px; background:url(/images/contact/zhr_bottom.jpg) NO-REPEAT; }

#title{width:600px; height:40px;  margin-left:10px; font-size:32px; font-family:黑体; color:#246BB0; }
#right_hr{width:754px; height:5px; margin-top:10px; background:#246BB0; font-size:0px; line-height:0px; }

#right_content{width:700px; margin-left:25px; margin-top:20px; font-size:14px; line-height:25px;}
#right_content p{text-indent:2em; margin-bottom:15px;}

.link{width:220px; padding-bottom:30px;}
.link_title{width:150px; height:25px; font-size:14px; line-height:25px;}
.link_title a{color:#000; text-decoration:none;}
.link_img img{width:150px; height:70px; border:0;}
