body {font-size:12px; font-family:宋体,Arial; color:#000000; margin:0 auto; padding:0; background-color:#ffffff;}
p{margin:0; padding:0;}
ul{margin:0; padding:0;}
li{margin:0; padding:0;}
div{margin:0; padding:0; float:left; display:inline;}

#ibody{width:1000px; margin:0 auto; float:none; display:block;}

#content{width:1000px; overflow: hidden;}
	#content_left{width:686px; }
		#content_banner_left{width:416px;  height:390px; border:1px solid #B5B5B5; overflow:hidden;}
			#qie_img{width:414px; height:213px; margin-left:1px; margin-top:1px; position:relative; overflow:hidden;}
			#qie_img img{width:414px; height:213px;}
				.top_box{width:414px; height:213px; overflow:hidden; margin-left:-414px; background:url(/images/index_two/alpha.png) no-repeat center !important; background-image:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=image, src=/images/index_two/alpha.png);}
					.top_title{width:250px; font-size:25px; line-height:25px; font-weight:900; color:#ffffff; margin-top:25px; margin-left:10px;}
					.top_title a{color:#003399; text-decoration:none; position:relative;}
					.top_title a:hover{color:#000;}
					.top_desc{width:220px; padding-bottom:10px; margin-top:15px; margin-left:10px; font-weight:bolder; text-indent:2em; font-size:14px; line-height:1.5em; color:#ffffff}
					.top_desc a{color:#333333; text-decoration:none; width:220px; height:63px; overflow:hidden; float:left; position:relative;;}
					.top_news{width:235px; height:1.5em; font-size:14px; line-height:1.5em; font-weight:bolder; color:#ffffff; padding-left:15px; overflow:hidden; background:url('/images/index_two/top_link.gif') no-repeat 10px 9px;}
					.top_news a{color:#003399; text-decoration:none; position:relative;}
					.top_news a:hover{color:#000;}
				#top_num{width:93px; height:25px; position:absolute; right:0px; bottom:0px;}
					#top_num div{width:15px; height:15px; margin-left:2px; padding-top:4px; text-align:center; cursor:pointer;}
					.select_top_num{color:#ffffff; background:url('/images/index_two/top_red.gif');}
					.normal_top_num{color:#000000; background:url('/images/index_two/top_white.gif');}
			#qie_menu{width:416px; height:175px; margin-top:1px;}
				#qie_img_left{width:7px; height:18px; margin-top:64px; margin-left:3px; border:0; float:left;}
				#qie_banner{width:395px;  height:175px; float:left; display:inline;}
					.qie_banner{width:91px; height:165px; margin-left:6px; margin-top:10px;}
						.qie_banner_top{width:91px; height:20px; color:#838486; font-size:12px; text-align: left;}
						.qie_banner_top a{text-decoration:none; color:#838486;}
						.qie_banner_img{width:85px; height:85px; margin-top:3px; border:1px solid #C9C9C9;}
						.qie_banner_img img{width:85px; height:85px; border:0; float:left; display: inline;}
						.qie_banner_value{width:91px; height:28px; margin-top:13px; color:#838486; font-size:12px; line-height:14px; overflow:hidden; text-align: left; float:left; display: inline;}
						.qie_banner_value a{ color:#003399; font-size:12px; text-decoration: none;}
						.qie_banner_value a:hover{color:#000;}
				#qie_img_right{width:7px; height:18px; margin-top:64px; margin-right:3px; border:0px solid #B5B5B5; float: left; display:inline;}
		#content_banner_right{width:255px; height:375px; float:right;}
			.ljz{width:100%; height:190px; border:1px solid #B3B6BD;}
			.ljz_title{width:100%; height:30px; margin-top:5px; line-height:30px; font-weight:bolder; color:#9A0000; font-size:14px; text-indent:10px;}
			.ljz_title a{color:#9A0000; text-decoration:none;}
			.ljz_icon{border:0;}
			.ljz_news{width:100%; height:45px; font-size:14px; line-height:22px; overflow:hidden;}
				.ljz_cate{width:100%; height:22px; font-weight:bolder; color:#003399; text-indent:10px; text-decoration:none; float:left;}
				.ljz_ntitle{width:100%; height:22px; color:#666666; text-indent:25px; background:url(/images/index_two/dian_blue.gif) NO-REPEAT 15px 10px; text-decoration:none; overflow:hidden; float:left;}
			#content_qie_left{width:132px; height:24px; padding-top:10px; background-image: url(/images/index_two/right_s.jpg); cursor:pointer;  text-align: center; font-size: 12px; color:#B5B5B5;}
				#content_qie_left img{width:5px; height:3px; margin-left:5px;  border:0px solid red;}
			#content_qie_right{width:133px; height:24px; padding-top:10px; background-image: url(/images/index_two/left_u.jpg); cursor:pointer;  text-align: center; font-size: 12px; color:#B00001; font-weight:bold;}
				#content_qie_right img{width:5px; height:3px; margin-left:5px;  border:0px solid red;}
			.guide{width:263px; height:342px; border:1px solid #B5B5B5; border-top: 0px solid #B5B5B5; overflow: hidden;}
				.guide_title{height:14px; margin-left:5px; margin-top:15px; line-height:14px; color:#B5B5B5; font-weight: bold; font-size:12px;}
				.guide_hr{width:125px; height:1px; margin-left:10px;  margin-top:23px; font-size:0px; background: url(/images/index_two/g_hr.jpg) repeat-x;}
				.guide_more{width:29px; height:11px; margin-top:18px; border: 0px solid red; }
				.g_pg{width:72px; height:73px; margin-left:5px; margin-top:15px; background: url(/images/index_two/g_pg.jpg) no-repeat;  float: left; display: inline;}
				.g_pg img{width:68px; height:69px; margin-left:2px; margin-top:2px;}
				.gg_banner{width:260px; height:100px; overflow:hidden; float:left; display: inline;}
					.g_pg_title{width:178px; height:16px; margin-top:15px; padding-left:5px; overflow:hidden; line-height: 16px; float: left; display: inline;}
						.g_pg_title a{color:#494A4A; font-size:12px; font-weight: bold; text-decoration: none;}
					.g_pg_value{width:178px; height:52px; margin-top:5px; padding-left:5px; overflow:hidden; text-indent:15px; overflow:hidden; line-height: 16px;  float: left; display: inline;}
						.g_pg_value a{color:#494A4A; font-size:12px; text-decoration: none;}
				.gg_title{height: 14px; margin-left:5px; font-size:12px; color:#336699; font-weight:bold; float:left; display:inline;}
				.guide_hr_val{width:90%; height:30px; margin-left:6%; padding-left:2%; background:url(/images/index_two/dian.gif) NO-REPEAT 0 13px; overflow:hidden; line-height:30px;}
				.guide_hr_val a{font-size:14px; color:#000; text-decoration:none;}
				.guide_hr_val a:hover{color:#003399;}
				.guide_hr_val3{width:270px; height:18px; padding-left:8px; background:url(/images/index_two/dian.gif) NO-REPEAT 0 7px; overflow:hidden; line-height:18px; margin-left:15px;}
				.guide_hr_val3 a{font-size:12px; color:#000; text-decoration:none;}
				.guide_hr_val2{width:90%; height:30px; margin-left:6%; padding-left:2%; background:url(/images/index_two/dian_blue.gif) NO-REPEAT 0 13px; overflow:hidden; line-height:30px;}
				.guide_hr_val2 a{font-size:14px; color:#003399; margin-left:5px; text-decoration:none;}
				.guide_hr_val2 a:hover{color:#000;}
	#content_left_c{width:338px; margin-top:15px; overflow:hidden;}
		.normal_box{width:336px; padding-bottom:20px; margin-top:15px; border:1px solid #B3B6BD;}
			.li_top{width:320px; height:105px; padding-bottom:20px; margin-left:15px; margin-top:10px;float: left;}
				.li_img_pg img{width:110px; height:105px;}
				.li_img_pg{width:110px; height:105px; border:1px solid #666666; float:left;}
				.rich_right{width:200px; height:102px; margin-top:1px; font-size:14px; float:right;}
					.li_img_title{width:190px; margin-right:10px; line-height:17px; float:right;}
					.li_img_title a{color:#003399; font-weight:bold; text-decoration:none;}
					.li_img_title a:hover{color:#000;}
					.li_img_value{width:190px; margin-right:10px; margin-top:17px; line-height:17px; float:right;}
					.li_img_value a{color:#040100; line-height:19px; text-decoration:none;}
			.li_title{width:320px; height:20px; margin-left:15px; margin-top:5px;}
			.li_title div a{text-decoration: none; font-size:14px;}
			.normal_title{width:100%; height:30px; line-height:30px; color:#990000; font-weight:bolder; font-size:14px; background:url(/images/index_two/dian_red.gif) NO-REPEAT 10px 13px; text-indent:20px;}
			.normal_title a{color:#9C9B9B; text-decoration:none; margin-right:17px; font-weight:normal; font-size:12px; float:right;}
			
			.li_hr_g{width:230px; height:18px; margin-top:5px; text-align:right; overflow:hidden; line-height:18px; margin-left:15px;}
			.li_hr_g a{font-size:12px; color:#000000; text-decoration:none;}
		.pg{width:338px; height:23px; margin-top:15px; background: url(/images/index_two/pg.jpg) no-repeat; line-height: 23px; float: left; display: inline;}
			.pg font{margin-left: 40px; font-size:12px; color:#ffffff; float:left; display: inline;}
			.pg a{margin-right:16px; font-size:12px; text-decoration:none; color:#949391; float:right;}
		.keysword_banner{width:336px; padding-bottom:15px; margin-top:9px;  border: 1px solid #C0C3CA; background-color:#F6F6F8;}
			.keysword_value{width:336px; height:20px; margin-top:10px; overflow: hidden; line-height: 20px;}
			.keysword_value ul li{margin:0px; margin-left:15px; padding:0px; list-style-type: none; float: left; display:inline;}
			.keysword_value ul li a{color: #B80418; font-weight:bold; font-size: 12px;}
			#topkeyword{width:255px; margin-left:13px; height:35px; padding-left:55px; line-height:35px; font-weight:bolder; border-bottom:1px solid #C0C3CA;}
			.top_kdiv{margin-left:30px; width:55px; overflow:hidden; height:35px;}
			#topkeyword a{color:#66ADCD; text-decoration:none;}
			#bottomkeyword{width:100%; line-height:25px; margin-top:10px; padding-bottom:10px;}
			.bottom_kdiv{width:40%; height:25px; line-height:25px; font-size:14px; margin-left:5%; margin-top:10px; text-indent:10px;  background:url(/images/index_two/dian_blue.gif) NO-REPEAT 0 10px; overflow:hidden;}
			.bottom_kdiv a{color:#336799; text-decoration:none;}
			.bottom_kdiv a:hover{color:#000;}
		.guide_hr_val font{font-size: 12px; color: #336699;}
		#dictionary{width:300px; height:102px;  background: url(/images/index_two/dictionary_t.jpg) no-repeat 15px 10px;}
			#dict_1{width:280px; height:20px; margin-left:17px; margin-top:50px; text-align:center; }
				#dict_1 a{font-size: 14px; color: #2E4D9F; text-decoration: none; font-weight: bold;}
			#dict_2{width:280px; height:20px; margin-left:17px; text-align:right; }
				#dict_2 a{font-size: 14px; color: #2E4D9F; text-decoration: none; font-weight: bold;}
		#pos{width:310px; margin-left:10px; margin-top:15px;}
			#pos a{ color: #1EA0DA; font-size: 12px; text-decoration: none;}
		#pos_img{width:336px; height:151px; margin-top:10px; border: 1px solid #BFC2C7; }
			#pos_img img{width:332px; height:147px; margin:2px;  border: 0px solid #BFC2C7;}
			
	#content_right{width:348px; margin-top:5px; overflow:hidden;}
		.center_box{width:332px; margin-top:10px; padding-bottom:15px; border:1px solid #B3B6BD; float:right;}
			.column_box{width:100%; height:110px; margin-top:5px; font-size:14px;}
				.column_photo{width:70px; height:75px; margin-left:15px; border:1px solid #CACACA;}
					.column_photo img{width:70px; height:75px; border:0;}
				.column_title{width:220px; margin-left:10px; line-height:19px; font-weight:bolder; overflow:hidden;}
					.column_title a{color:#003592; text-decoration:none;}
					.column_title a:hover{color:#000; text-decoration:none;}
				.colum_desc{width:220px; margin-left:10px; line-height:19px; overflow:hidden;}
					.colum_desc a{color:#000; text-decoration:none;}
				.colum_news{width:90%; height:30px; margin-left:6%; margin-top:5px; padding-left:2%; background:url(/images/index_two/dian_blue.gif) NO-REPEAT 0 13px; overflow:hidden; line-height:30px;}
				.colum_news a{font-size:14px; color:#003399; margin-left:5px; text-decoration:none;}
			#index_little{width:88px; height:31px; float:right;}
			#lift_left{width:242px; height:31px; line-height:31px; color:#990000; font-weight:bolder; font-size:14px; background:url(/images/index_two/dian_red.gif) NO-REPEAT 10px 13px; text-indent:20px;}
			#lift_left a{color:#9C9B9B; text-decoration:none; margin-right:10px; font-weight:normal; font-size:12px; float:right;}
				
		.content_pg_title{width:319px; height:24px; margin-top:10px; margin-left:8px; padding-left:20px; font-size:12px; color:#336699; font-weight:bold; line-height:24px; background: url(/images/index_two/dd.jpg) no-repeat; overflow:hidden;}
		
		.content_pg_title a{margin-left:260px; color:#000000;  font-size: 12px; text-decoration: none; font-weight:normal; text-align:right;}
		.content_pg_title .hidden_more{width:100px; height:24px; background-color:#F1F2F4; float:right;}
		.pg_hr{width: 340px; height:2px; margin-left:8px; margin-top:5px; line-height:0px; font-size:0px; overflow:Hidden;}
		.content_pg_hr{width:70px; height:2px; font-size:0px;  border:0px solid #0B2979; border-top:2px solid #0B2979;float:left; display: inline; }
		.dian_hr{width:270px; height:2px; font-size:0px; background: url(/images/index_two/ggg.jpg); float:left;  display: inline;}	
		.gg_containt{ width:340px;  margin-top:10px;}
		.gg_pg{width:340px;  margin-left:8px;  background:#F7F7F7; overflow:hidden;}
			.photo_banner{width:57px; height:57px; margin-left:10px; margin-top:15px; overflow:hidden;}
			.photo_pg{width:55px; height:55px; border:1px solid #eeeeee;}
				.photo_pg img{width:55px; height:55px; border:0px;}
				.photo_font{width:52px; height:22px; margin-top:6px; line-height: 22px; text-align: center;}
				.photo_font a{ color:#494A4A; font-size: 12px; text-decoration: none; font-weight:bold;}
			.photo_value_s{width:220px; overflow:Hidden; float:right; display:inline;}
				.photo_title{width:215px; line-height:20px;}
					.photo_title a{font-size:14px; font-weight:bold; text-decoration:none; color:#003891;}
				.photo_value_v{width:215px; height:48px; margin-top:8px; line-height:16px; overflow:hidden;}
					.photo_value_v a{font-size:14px; color:#000; text-decoration:none;}
				.photo_geng{width:220px; height:16px; line-height:16px; text-align:right; overflow:Hidden;}
					.photo_geng a{color:#BA2636; font-size:12px; text-decoration:none;}
					.gg_containt a img{width:29px; height:11px; margin-top:2px; border:0px solid red;}
		.gg_containt_value{width:332px; margin-left:8px; margin-top:5px; line-height:20px;}
			.gg_containt_value a{text-decoration:none; font-size:12px; font-weight:bold; color:#706E6F;}
			.gg_containt_value .column_a{white-space:nowrap; padding-left:3px;}
		.pho_banner{width:93%; height:86px; margin-left:5%; margin-top:20px;}
			.pho_pg{width:99px; height:86px; background:url(/images/index_two/pp_3.jpg) no-repeat;}
				.pho_pg img{width:95px; height:82px; margin:2px; border:0px solid red; }
			.pho_title{width:195px; margin-left:10px; line-height:21px;}
				.pho_title a{font-size:14px; font-weight:bold; text-decoration:none; color:#4B4B4B;}
				.pho_title a:hover{color:#003399;}
			.pho_value{width:195px;  margin-left:10px; line-height:21px;}
				.pho_value a{font-size:14px; text-decoration:none; color:#858585;}
		#life_box{width:195px; height:86px;}
			#life_box div{margin:0;}
			#liu_lan{width:330px; height:89px; margin-top:6px; margin-left:8px;}
				.liu_z{width:78px; height:89px; margin-left:3px; overflow:Hidden;}
					.liu_lan_pg{width:100%; height:57px; margin-left:3px; background:url(/images/index_two/ll.jpg) no-repeat;}
						.liu_lan_pg img{width:71px; height:53px; margin:2px; border:0px solid red;}
					.liu_lan_value{width:100%; height:28px; margin-top:4px; line-height:14px; text-align:center; overflow:hidden;}
					.liu_lan_value a{font-size:12px; color:#848486; text-decoration:none;}
			
		#contentc_right{width:300px; float:right; display: inline;}
			.right_box{width:298px; margin-top:10px; padding-bottom:10px; border:1px solid #B3B6BD;}
			.content_right_top{width:300px; height:10px; font-size:0px; line-height:0px; overflow:hidden; background:url(/images/index_two/r_title.jpg) no-repeat;}
			.content_right_banner{width:298px; padding-bottom:6px; overflow:Hidden;}
				.c_r_title{width:280px; height:16px; margin-left:8px; line-height:16px; font-size:12px; font-weight:bold;}
					.c_r_title div{height:16px;line-height:16px; font-size:12px; font-weight:bold;}
					.c_r_title img{width:29px; height:11px; margin-top:4px; border:0px solid red; float:right;}
			#recommend_banner{width:300px; height:18px; margin-top:10px;}
				#recommend_left{width:74px; background:url('/images/index_two/list_l.jpg'); font-weight:bolder;}
				#recommend_left a{color:#000000; text-decoration:none;}
				#recommend_right{width:74px; background:url('/images/index_two/list_r2.jpg');}
				.recommend_center{width:75px; background:url('/images/index_two/list_c2.jpg');}
				.recommend_title{height:18px; text-align:center; cursor:pointer; line-height:18px; font-size:12px; overflow:hidden;}
				.recommend_title a{color:#838486; text-decoration:none;}
				#recommend_btn{width:222px; height:23px; margin-left:40px; margin-top:7px; text-align:center; line-height:23px; background:url(/images/index_two/list_title.png) bottom no-repeat;}
					#recommend_btn a{font-size:12px; font-weight:bold; color:#B20002; text-decoration:none; display:none;}
				.rt_tab{width:300px; height:280px; margin-top:10px; display:none;}
				.rt_tab img{width:300px; height:280px; border:0;}
				.recommend_menu{width:290px; height:16px; margin-top:5px; margin-left:3px; line-height:16px;}
					.recommend_menu font{font-size:12px; color:#848486; font-weight:bold;}
				.recommend_menu_pg{width:290px; margin-left:4px; line-height:26px; overflow:hidden;}
				.recommend_menu_hr{width:290px; height:1px; margin-top:2px; margin-left:4px; background:#7B7B7B; font-size:0px;}
					.recommend_ranking{width:20px; height:25px; text-align:center; font-weight:bold; line-height:25px;font-size:12px; }
					.recommend_name{width:190px; height:25px; margin-left:5px; line-height:25px; font-size:12px;}
					.recommend_money{width:50px; height:25px; margin-right:10px; overflow:hidden; line-height:25px; float:right; font-size:12px;}
			.content_right_bottom{width:300px; height:8px; font-size:0px; background:url(/images/index_two/r_bottom.jpg) no-repeat;}
			.teacher_btn1{width:89px; height:26px; margin-top:10px; margin-left:10px; text-align:center; line-height:26px; background:url(/images/index_two/btn4.jpg) no-repeat;}
			.teacher_btn2{width:79px; height:26px; margin-top:10px; margin-left:15px; text-align:center; line-height:26px; background:url(/images/index_two/btn_3.jpg) no-repeat;}
			.teacher_btn3{width:87px; height:26px; margin-top:10px; margin-left:15px; text-align:center; line-height:24px; background:url(/images/index_two/btn6.jpg) no-repeat;}
				.teacher_btn1 a,.teacher_btn2 a,.teacher_btn3 a{font-size:12px; text-decoration:none; color:#6B696A;}
			
			#right_img{width:298px; height:249px; margin-top:10px; overflow:hidden; border:1px solid #888A89;}
				#right_img img{width:298px; height:249px; border:0px solid red;}
			#right_m_img{width:298px; height:128px; margin-top:10px; border:1px solid #C8C8C6; overflow:hidden;}
				#right_m_img img{width:294px; height:124px; margin:2px; border:0px solid red;}
			.city{width:90%; margin-left:5%;  margin-top:10px; line-height:20px; font-weight:bolder;}
			.city a{font-size:14px; text-decoration:none; color:#034275;}
			.city_desc{width:90%; margin-left:5%;  margin-top:10px; line-height:20px;}
			.city_desc a{font-size:14px; text-decoration:none; color:#838383;}
			.city_title{font-weight:bolder;}
			.pp_4_banner{width:116px; height:120px; margin-left:15px; margin-top:10px; overflow:hidden;}
				.pp_4_pg{width:116px; height:80px; background:url(/images/index_two/pp_4.jpg) no-repeat;}
					.pp_4_pg img{width:112px; height:76px; margin:2px; border:0px solid red;}
				.pp_4_value{width:116px; height:30px; margin-top:5px; line-height:30px; overflow:Hidden;}
					.pp_4_value a{font-size:14px; color:#636363; text-decoration:none;}
			.survey{width:262px; margin-top:15px; margin-left:8px; padding-left:18px; line-height:18px; background:url(/images/index_two/dian_blue.gif) NO-REPEAT 8px 8px; overflow:hidden;}
				.survey a{font-weight:bold; color:#004378; font-size:14px; text-decoration:none;}
			
		#content_logon{width:648px; height:103px; margin-top:10px; overflow:hidden; border:1px solid #AEB7C0; float:right;}
			#content_logon a img{width:646px; height:101px; margin:1px; border:0px solid red;}
			
		#con_banner{width:348px;  margin-left:5px; margin-top:5px; overflow:hidden;}
			.con_ban_title{width:90%; margin-top:15px; margin-left:5%; font-size:14px; line-height:18px;}
				.con_ban_title a{color:#000; text-decoration:none;}
			.con_ban_value{width:90%; height:16px; margin-left:5%; margin-top:10px; overflow:hidden; color:#4C4C4C; font-size:14px; line-height:16px; text-align:right;}
				.con_ban_value a{color:#003891; text-decoration:none;}
			#day{width:94%; height:20px; margin-left:3%; margin-top:7px; background:#E8E8E8;}
				#day div{width:33%; height:14px; cursor:pointer; color:#525250; line-height:14px; border-left:1px solid #A4A4A4; text-align:center; margin-top:3px;}
					#day div a{font-size:12px; color:#525250; text-decoration:none;}
			.day_banner{width:94%; height:26px; margin-left:3%; margin-top:1px; overflow: hidden;}
				.day_banner_number{width:13px; height:13px; margin-left:2px; margin-top:4px; font-weight:bold; font-size:12px; line-height:13px; text-align:center; color:#999999; background:url(/images/index_two/pg_1.jpg.) no-repeat;}
				.day_banner_value{width:290px; height:18px; margin-top:2px; margin-left:10px; overflow:hidden; line-height:20px;}
					.day_banner_value a{font-size:14px; color:#000; text-decoration:none;}
					.day_banner_value a:hover{color:#003399;}
			#right_bottom{width:340px; margin-top:15px;}
			
			.h_h{width:90%; height:1px; margin-left:5%; margin-top:25px; font-size:0px; overflow:hidden;  background: url(/images/index_two/g_hr.jpg) repeat-x;}
			.h_h2{width:310px; height:1px; margin-top:4px; margin-left:4px; font-size:0px; overflow:hidden;  background: url(/images/index_two/g_hr.jpg) repeat-x;}
			.con_r_hr{width:280px; height:2px; margin-left:8px; margin-top:5px;  font-size:0px; background:#E6E8ED;}
			.con_r_hr div{width:145px; height:2px; font-size:0px; background:#A50205;}
		#lang_ad{width:300px; height:600px; margin-top:10px;}
		
		#both_button{width:296px; height:46px; padding:1px; margin-top:10px; border:1px solid #CCCCCC;}
		#both_button a{width:148px; float:left;}
		#both_button img{border:0; float:left;}
		
		#life_more{width:40px; height:15px; border:1px solid #9D9D9D; margin-left:150px; margin-top:4px; text-align:center; background-color:#fff;}
		#life_more a{margin:0; width:40px; height:15px; line-height:15px; font-size:12px; color:#000;}


#dictionary{width:332px; height:90px; margin-top:15px; padding-top:5px; border:1px solid #B3B6BD; float:right;}
#dictionary_t{width:332px; height:20px; color:#ffffff; text-indent:10px; padding-top:10px; font-size:14px; line-height:20px; background:url("/images/index_two/dictionary_t.jpg") no-repeat;}
#dictionary_t a{color:#FFFFFF;text-decoration: none; }
#dictionary_r{width:322px; height:60px;  padding-left:10px; background:#f1f1f1;}
#dictionary_r a{color:#003399; text-decoration:none;}
#dictionary_r #content1{width:200px; height:20px; line-height:20px; font-weight:bold; overflow:hidden;}
#dictionary_r #more{width:70px; height:20px; font-size:14px; line-height:20px; font-weight:bold; text-align:right; float:right;}
#dictionary_r #more a{color:#993333;}
#dictionary_r #content2{width:310px; max-height: 36px; font-size:16px; line-height:18px; margin-top:4px;text-align:center; overflow:hidden;}
#dictionary_r #content3{width:310px; height:20px; font-size:14px; line-height:20px; text-align:right; overflow:hidden;}
