body {font-size:12px; font-family:Arial,宋体; color:#000;  margin:0 auto; padding:0;}
p{margin:0; padding:0}
#ibody{width:1000px; margin:0 auto; float:none; display:block;}
#bread{width:494px; height:23px; margin-top:16px; padding-left:130px; font-size:12px; color:#666666; line-height:23px; background:url(/images/public/bread.jpg) no-repeat 10px 0;}
#bread a{color:#666666; text-decoration:none;}
#bread_line{width:1000px; height:8px; margin-top:2px; background:url('/images/public/bread_line.jpg') no-repeat;}

#chr_c_right a{margin-left:9px; text-decoration: none; color:#246BB0}

#info_top{width:660px; height:30px; background:url(../images/rich/info_top.jpg) no-repeat; float:left; display:inline;}
#info_bottom{width:659px; height:9px; background:url(../images/rich/info_bottom.jpg) no-repeat; float:left; display:inline;}
#info{width:660px; margin-top:10px; float:left; display:inline;}
#info_connect{width:657px; border:1px solid #DFDFDF; border-bottom:0px solid red; float:left; display:inline;}
#people_info{width:100px; height:28px; margin-left:15px; line-height:30px; color:#999999;  font-size:14px; font-weight:bold; float:left; display:inline;	}

#info_a{width:657px; float:left; display:inline;}
#info_a_left{width:240px; height:305px; margin-left:5px; margin-top:30px; margin-left:6px; text-align:center; border:1px solid #CCCCCC; float:left; display:inline;}
#info_a_right{width:371px;  margin-left:36px;  float:left; display:inline;}

#info_c_name{width:360px; height:25px; margin-top:20px; line-height:20px; float:left; display:inline;}
#info_c_company{width:360px; height:25px; margin-top:5px;  line-height:20px; float:left; display:inline;}
#info_c_capacity{width:360px; height:25px; line-height:20px; float:left; display:inline;}
#investment{width:360px; height:25px; line-height:20px; float:left; display:inline;}
#info_c_extra{width:360px; height:25px; margin-top:10px; line-height:20px;  float:left; display:inline;}
#extra_content{width:320px; margin-left:14px; margin-top:5px; overflow:hidden; line-height:30px; font-size:13px;  color:#666666; word-wrap: break-word; word-break: normal;  float:left; display:inline;}

#investment_b{width:655px; overflow:hidden; margin-top:30px; float:left; display:inline;}
#i_b_title{width:632px; height:30px; margin-left:20px; overflow:hidden; line-height:30px; font-size:14px; font-weight:bold; float:left; display:inline;}
#b_z{width:632px; height:40px; margin-left:20px; overflow:hidden; line-height:30px; font-size:13px; font-weight:bold; color:#21609E;  float:left; display:inline;}
#company_name{width:100px; height:30px; text-align:center; overflow:hidden; float:left; display:inline;}
#b_type{width:100px; height:30px; text-align:center; overflow:hidden; margin-left:40px; float:Left; display:inline;}
#trade{width:100px; height:30px; text-align:center; overflow:hidden; margin-left:40px; float:Left; display:inline;}
#capx{width:100px; height:30px; text-align:center; overflow:hidden; margin-left:40px; float:Left; display:inline;}

.b_c{width:632px; height:15px; margin-left:20px; margin-bottom:10px; line-height:15px; overflow:hidden; font-size:12px;  float:left; display:inline;}
.i_c_name{width:100px; height:15px; text-align:center; float:left; overflow:hidden; display:inline;}
.i_c_type{width:100px; height:15px; text-align:center; margin-left:40px; overflow:hidden; float:Left; display:inline;}
.i_c_trade{width:100px; height:15px; text-align:center; margin-left:40px; overflow:hidden; float:Left; display:inline;}
.i_c_capx{width:100px; height:15px;  text-align:center; margin-left:45px; overflow:hidden; float:Left; display:inline;}

a{text-decoration: none; color:#246BB0}
.c_hr{width:600px; height:2px; margin-left:25px; font-size:0px;  margin-top:15px; background:url(../images/rich/hr.gif) repeat-x; line-height:0px; float:left; display:inline;}

#career_z{width:655px; overflow:hidden; margin-top:25px; float:left; display:inline;}
#career{width:632px; height:30px; margin-left:20px; overflow:hidden; line-height:30px; font-size:14px; font-weight:bold; float:left; display:inline;}
#career_title{width:632px; height:40px; margin-left:20px; overflow:hidden; line-height:30px; font-size:13px; font-weight:bold; color:#21609E;  float:left; display:inline;}
#employer{width:200px; height:30px; text-align:center; overflow:hidden; float:Left; display:inline;}
#task{width:100px; height:30px; text-align:center; overflow:hidden; margin-left:40px; float:Left; display:inline;}
#time{width:200px; height:30px; text-align:center; overflow:hidden; margin-left:40px; float:Left; display:inline;}
#careet_connect{width:632px; height:15px; margin-left:20px; margin-bottom:10px; line-height:15px; overflow:hidden; font-size:12px;  float:left; display:inline;}
.employer{width:200px; height:15px; text-align:center; float:left; overflow:hidden; display:inline;}
.task{width:100px; height:15px; text-align:center; margin-left:40px; overflow:hidden; float:Left; display:inline;}
.time{width:200px; height:15px; text-align:center; margin-left:40px; overflow:hidden; float:Left; display:inline;}


#investment_c{width:655px; margin-bottom:25px; overflow:hidden; margin-top:25px; float:left; display:inline;}
#inve_title{width:632px; height:40px; margin-left:20px; overflow:hidden; line-height:30px; font-size:14px; font-weight:bold; float:left; display:inline;}
.inve_content{width:632px; height:25px;  float:left; display:inline;}
.inve_left{width:3px; height:3px; margin-top:13px; margin-left:10px; background:url(../images/list/tar-1.jpg) no-repeat; float:left; display:inline;}
.inve_right{width:600px; height:25px; margin-left:8px; font-size:14px; overflow:hidden; line-height:28px; float:left; display:Inline;}


#christcross{width:660px; margin-top:10px; overflow:hidden; float:left; display:inline;}
#christcross_left{width:6px; height:85px; background:url(../images/rich/info_left.jpg) no-repeat; float:left; display:inline;}
#christcross_right{width:6px; height:85px; background:url(../images/rich/info_right.jpg) no-repeat; float:left; display:inline;}
#christcross_middle{width:646px; height:85px;  background:#F3F3F3; border-right:0px solid blue; border-top:1px solid #E5E5E5; border-bottom:1px solid #E5E5E5;  float:left; display:inline;}
#chr_christcross{width:600px; height:30px; margin-left:20px; margin-top:5px; line-height:30px; font-size:13px; font-weight:bold; color:#666666; float:left; display:inline;}
#chr_sousuo{width:600px;height:30px; line-height:30px; margin-left:20px;  font-size:13px; font-weight:bold; color:#666666;  float:left; display:inline;}



#right_people{width:313px; border:1px solid #DFDFDF; border-bottom:0px solid red; border-top:0px solid red; float:left; display:inline;}
#money{width:318px; height:90px; margin-top:20px; background:url(../images/rich/r_data.jpg) no-repeat; float:left; display:inline;}


#people_top{width:314px; height:20px; text-align:center; margin-top:8px; font-weight:bold; font-size:13px; color:#11579E; line-height:20px; float:left; display:inline;}
#people{width:60px; height:20px;  float:left; display:inline;}
#people_type{width:85px;  height:20px;  float:left; display:inline;}
#people_enterprise{width:95px;  height:20px;  float:left; display:inline;}
#people_money{width:70px;  height:20px; float:left; display:inline;}

#people_connect{width:313px;  text-align:center; margin-top:4px; font-size:12px; line-height:20px; float:left; display:inline;}
.people_c{width:310px; height:20px;  margin-top:5px;  float:left; display:inline;}
.c_people{width:60px; height:20px;  overflow:hidden; float:left; display:inline;}
.c_type{width:85px;  height:20px; overflow:hidden; float:left; display:inline;}
.people_enterprise{width:95px; height:20px; overflow:hidden;  float:left; display:inline;}
.c_money{width:70px; overflow:hidden; height:20px; float:right; display:inline;}



