body {font-size:12px; font-family:宋体,Arial; color:#000000; margin:0 auto; padding:0;}
p{margin:0; padding:0;}
ul{margin:0; padding:0;}
li{margin:0; padding:0;} 
div{margin:0; padding:0; float:left; display:inline;}
#ibody{width:1000px; margin:0 auto; float:none; display:block;}

#bread{width:494px; height:23px; margin-top:16px; padding-left:130px; font-size:12px; color:#666666; line-height:23px; background:url(/images/public/bread.jpg) no-repeat 10px 0;}
#bread a{color:#666666; text-decoration:none;}
#bread_line{width:1000px; height:8px; margin-top:2px; background:url('/images/public/bread_line.jpg') no-repeat;}px;}

.caption{width:670px; height:28px;}
.caption .captions{height:18px; margin-top:5px; padding-left:18px; line-height:18px; font-size:14px; color:#666666; font-weight:bold;  background:url(/images/public/square.jpg) no-repeat 0 5px;}
.caption .line{width:1px; height:10px; margin-top:9px; margin-left:10px; font-size:10px; line-height:10px;}
.caption .more{width:38px; height:8px; margin-top:10px; margin-left:15px; background:url(/images/public/more.jpg) no-repeat; float:left;}

#list_left{width:675px; overflow:hidden;}

#lists_headline{width:670px; height:200px; margin-top:10px; margin-bottom:15px; padding:1px; border:1px solid #e1e9f0; overflow:hidden;}
#headline{width:670px; height:200px; background:#f4f4f4; overflow:hidden;}
#headline_content{width:351px; height:200px; margin-top:1px; overflow:hidden; float:right;}
.headline_title{width:351px; height:28px; margin-top:16px; line-height:28px; overflow:hidden;}
.headline_title a{font-weight:bold; font-size:24px; font-family:微软雅黑,黑体; color:#003399; text-decoration:none;}
.headline_title a:hover{color:#94000B;}
.headline_description{width:336px; height:66px; margin-top:10px; margin-left:2px; margin-bottom:8px; text-indent:28px; line-height:22px; font-size:14px; overflow:hidden;}
.headline_related{width:350px; height:48px; overflow:hidden;}
#headline .list{width:224px; height:24px; padding-left:13px; line-height:22px; background:url(/images/public/circle1.jpg) no-repeat 0 8px; overflow:hidden;}
#headline .list a{font-size:14px; color:#003399; text-decoration:none;}
#headline .list a:hover{color:#94000B;}
#headline #btn{width:100px; height:14px; margin-top:3px; margin-right:10px; float:right;}
#headline #btn .headline_btn1{width:14px; height:14px; margin-left:5px; cursor:pointer;}
#headline #btn .headline_btn2{width:14px; height:14px; margin-left:5px; cursor:pointer;}

#recommend{width:675px;}
.recommend_p{width:100px; margin-left:28px; margin-top:17px; overflow:hidden;}
.recommend_list{width:96px; height:36px; margin-top:5px; line-height:18px; overflow:hidden;}
.recommend_list a{color:#003A7B; text-decoration:none;}
.recommend_ptitle{width:96px; height:20px;  margin-top:10px; line-height:20px; font-size:12px; color:#333333; text-align:center; overflow:hidden;}
.recommend_ptitle a{color:#003A7B; text-decoration:none;}
.recommend_pic{width:94px; height:94px; padding:1px; font-size:0; border:1px solid #CCCCCC;}
.recommend_dash{width:670px; height:1px; margin-top:15px; margin-bottom:15px; font-size:0; line-height:0px; border-bottom:1px dotted #cccccc; overflow:hidden;}

#normal_list{width:675px;}
.list_list{width:300px; height:600px;}
.list_box{width:300px; height:120px; margin-top:20px;}
.list_title{width:300px; height:20px; font-size:14px; color:#003A7B; font-weight:bold; line-height:20px;}
.list_title .title{width:40px; height:20px;}
.list_title .title_line{width:240px; height:8px; margin-left:5px; margin-top:7px; line-height:0; font-size:0; background:#E5E5E5;}
.list_li_box{width:300px; height:100px; margin-top:5px; line-height:20px;}
.list_li_box li{width:285px; height:25px; margin-left:5px; padding-left:10px; list-style-position:outside; list-style-type:none; font-size:14px; line-height:25px; background:url(/images/public/circle1.jpg) no-repeat 0 10px; overflow:hidden;}
.list_li_box li a{color:#003A7B; text-decoration:none;}
#list_dash{width:1px; height:580px; margin-left:20px; margin-right:35px; margin-top:5px; border-right:1px dotted #cccccc;}

#right_inc{width:225px; overflow:hidden; float:right;}

#list_left{width:675px;}
#list_left_top{width:600px; height:25px; margin-top:15px;}
#list_left_top a{width:100px; height:25px; color:#246BB0; font-size:12px; line-height:25px; text-align:center; text-decoration:none; background:url('/images/list/button.gif'); float:left; display:inline;}
#list_list_content{width:660px; margin-top:10px;}
#list_list_content table{width:100%; text-align:center; background:#e7e7e7;}
#list_list_content td{height:32px; text-align:center; padding:5px; word-break:break-all; word-wrap:break-word; font-size:12px; line-height:16px; background:#ffffff;}

#list_top_tr{height:25px; font-size:12px; font-weight:bold; color:#666666; text-align:center;}
#list_top_tr td{border-bottom:1px solid #999999; background:#f0f0f0;}
#list_top_tr a{color:#666666; text-decoration:none;}
#list_top_tr a:hover{color:#000000; text-decoration:underline;}

.list_btr td{text-align:center; word-break:break-all; word-wrap:break-word; font-size:12px; line-height:16px;}
.list_btr a{color:#000000; text-decoration:none;}

#list_paginate{width:660px; margin-top:30px; line-height:20px; font-size:13px; color:#666666; text-align:center; float:left; display:inline;}
#list_paginate a{color:#246BB0; text-decoration:none

#more_list_content{width:1000px; margin-top:15px;}
#more_list_content table{width:660px; text-align:center; background:#e7e7e7;}
#more_list_content td{height:32px; text-align:center; padding:5px; word-break:break-all; word-wrap:break-word; font-size:12px; line-height:16px; background:#ffffff;}

#more_paginate{width:1000px; margin-top:30px; line-height:20px; font-size:13px; color:#666666; text-align:center;}
#more_paginate a{color:#246BB0; text-decoration:none;}