body {font-size:12px;  font-family:宋体; font-size:12px; color:#000;  margin:0; padding:0;}

#ibody{width:1002px; margin:0 auto; float:none; display:block;}

#bread{width:494px; height:23px; margin-top:16px; padding-left:130px; color:#246BB0; line-height:23px; background:url(/images/public/bread.jpg) no-repeat 10px 0;}
#bread a{color:#666666; text-decoration:none;}
#bread_line{width:1000px; height:8px; margin-top:2px; background:url(/images/public/bread_line.jpg) no-repeat;}

#register{width:900px; margin:0 auto; float:none; display:block;}
#title{width:825px; height:24px; margin-top:10px; color:#ffffff; line-height:24px; font-weight:bold; padding-left:15px; background:url(/images/register/title.jpg) no-repeat; font-size:14px; float:left; display:inline;}
#title a{ text-decoration:none; color:#ffffff;}
#person{width:825px; margin-top:10px; margin-left:15px; color:#999999; line-height:30px; float:left; display:inline;}
table{margin-top:30px; margin-left:40px; float:left; display:inline;}
tr{height:40px; line-height:40px; }
.td1{width:80px; color:#333333; font-size:13px; line-height:22px;  }
.td2{color:#999999; line-height:22px;  }
.td2 a{color:#0066CC; text-decoration:none;}
.td3{width:250px; height:25px; text-align:center;  overflow:hidden; }
.td4{width:120px; line-height:22px; text-align:center;  }
.td5{width:420px; color:#333333; font-size:13px;  }
.td6{width:520px; color:#999999; font-size:13px;  }
.txt{width:190px; height:22px; border:1px solid #CCCCFF;}
.txt1{width:570px; height:22px; margin-left:30px; border:1px solid #CCCCFF; }
.txt2{width:180px; height:22px; margin-left:10px; border:1px solid #CCCCFF;}
.sel1{width:190px; height:22px; }
.sel2{width:90px; height:22px; border:1px solid #CCCCFF;}
.ck{margin-left:40px;}
.display1{}
.display2{color:#00CC00; float:left; display:none;}
.display3{color:#FF0000; float:left; display:none;}
.pic{width:14px; height:14px; }
.pic_content{margin-left:5px; line-height:14px; }
hr{width:840px; height:1px; margin-top:10px; color:#cccccc; }
#yzm_input{width:120px; height:25px; line-height:25px; }
#yzm_input input{width:120px; height:22px; border:1px solid #CCCCFF;}
.file {height:22px; margin-left:30px; border:1px solid #CCCCFF; background:#fff;}
.upload{width:94px; height:26px; margin-left:30px; line-height:26px; font-size:14px; border:0px; font-weight:bold; background:url('/images/register/upload_bg.jpg') no-repeat; }
#yzm{width:60px; height:25px; margin-left:10px; font-size:16px; font-weight:bold; line-height:25px; }
button{width:154px; height:26px; line-height:26px; font-size:14px; border:0px; font-weight:bold; background:url('/images/register/button.jpg') no-repeat;}
#submit{width:840px; height:40px; line-height:40px; text-align:center; }

#register_info{width:810px; height:200px; margin-top:20px; margin-left:40px; padding-left:10px; padding-right:10px; line-height:22px; border:1px solid #efefef; overflow-y:scroll; font-size:13px; color:#333333; }
#register_info p{margin-top:10px; text-indent:2em;}

.red{color:#ff0000;}
.gray{color:#666666; font-size:12px;}
#chang_pic{ cursor:pointer; color:#246BB0; margin-left:15px;}
.dash{width:900px; height:1px; margin-top:10px; font-size:0; line-height:0; border-bottom:1px dotted #999999;}
