
ul{list-style:none; padding:0; margin:0;}

#right_inc{width:320px; margin-top:15px; padding-bottom:50px; line-height:0; font-left_bottom_titlesize:0; float:right; display:inline;}
#right_inc .right_box{width:315px; padding-bottom:10px; border-left:1px solid #E1E1E1; border-right:1px solid #E1E1E1; float:left; display:inline;}
#right_inc .bottom_line{width:317px; height:3px; background:url(/images/right/bottom.jpg) no-repeat; float:left; display:inline;}



#right_inc .left_title{width:317px; height:36px; margin-top:15px; color:#999999; padding-left:1px; padding-top:3px; background:url("/images/right/left_title.jpg") no-repeat; float:left; display:inline; overflow:hidden;}
#right_inc .left_top_title{width:157px; height:36px; font-size:15px;  font-weight:bold; text-align:center; line-height:25px; float:left; display:inline;}
.left_top_title.selected{color:#000; background: url(/images/right/background1.jpg) no-repeat;}

#right_inc #right_banner{width:306px; padding-left:7px; height:250px; float:left; display:inline;}

#right_inc .right_box li{width:260px; height:19px; margin-top:6px; margin-left:15px; padding-left:14px; font-size:13px; background:url(/images/right/tar3.gif) no-repeat 0 6px; overflow:hidden; line-height:19px; float:left; display:inline;}
#right_inc .right_box a{color:#003899; text-decoration:none; background:#ffffff;}
#right_inc .left_bottom_title{width:78px; margin-left:1px; height:36px; color:#999999; font-size:15px; font-weight:bold; text-align:center; line-height:25px;  float:left; display:inline;}
#right_inc .left_bottom_title.selected2{background:url(/images/right/background2.jpg) no-repeat; color:#000000;}

#right_inc .right_title{width:315px; height:28px; margin-top:15px; border:1px solid #dfdfdf; background:url('/images/right/title_bg.jpg') repeat-x; float:left; display:inline;}
#right_inc .right_title .title_con{height:18px; margin-top:5px; margin-left:15px; color:#999999; font-size:14px; font-weight:bold; line-height:18px; float:left; display:inline;}
#right_inc .right_title .more{width:19px; height:9px; margin-top:10px; margin-right:10px; float:right; display:inline;}


#right_inc #order_top{width:291px; height:24px; margin-top:10px; margin-left:10px; line-height:24px; font-size:14px; float:left; display:inline;}
#right_inc #order_t_l{width:195px; height:24px; color:#11579e; font-weight:bold; float:left; display:inline;}
#right_inc #order_t_l span{font-size:12px; font-weight:normal; color:#666666;}
#right_inc #order_t_r{width:63px; height:24px; float:right; display:inline;}
#right_inc #order_t_r button{width:63px; height:24px;  border:0px; font-weight:bold;  background:url('/images/right/right_b_b_btn.jpg') no-repeat;}
#right_inc #order_bot{width:291px; margin-top:10px; margin-left:10px; float:left; display:inline;}
#right_inc #order_b_l{width:195px; color:#666666; line-height:24px; float:left; display:inline;}
#right_inc #order_b_l span{font-size:14px; color:#11579e; font-weight:bold;}
#right_inc #order_b_l .cl{width:195px; height:24px; font-size:12px; margin-top:5px; float:left; display:inline;}
#right_inc #order_b_r{width:63px; height:24px; margin-top:24px; line-height:24px;  float:right; display:inline;}
#right_inc #order_b_r button{width:63px; height:24px; border:0px; font-weight:bold; font-size:14px; background:url('/images/right/right_b_b_btn.jpg') no-repeat;}


#right_inc .rich_content{width:300px; height:105px; margin-left:5px; border-bottom:1px dashed #6E6E6E; float:left; display:inline;}
#right_inc .rich_box{width:300px;  font-size:13px; margin-top:5px; color:#626262; line-height:20px; float:left; display:inline;}
#right_inc .rich_pic{width:70px; height:70px; margin-top:5px; padding:2px; border:1px solid #E1E1E1;  float:left; display:inline;}
#right_inc .rich_info{width:210px; margin-left:10px; float:left; display:inline;}
#right_inc .rich_name{width:210px; height:18px; float:left; display:inline;}
#right_inc .rich_name a{color:#626262; font-weight:bolder; text-decoration:none;}
#right_inc .rich_com{float:left; display:inline;}
#right_inc .rich_ind{float:left; display:inline;}
#right_inc .rich_rank{width:200px; height:60px; float:left; display:inline;}

#right_inc #mag_content{width:315px; padding-bottom:15px; border-left:1px solid #E1E1E1; border-right:1px solid #E1E1E1; float:left; display:inline;}
#right_inc #mag_content .pic{width:88px; height:114px; margin-top:10px; margin-left:13px; border:1px solid #cccccc; float:left; display:inline;}
#right_inc #mag_content .pic img{width:86px; height:112px; margin:1px;}
#right_inc #mag_content .pictitle{width:170px; height:20px; margin-top:13px;  margin-left:13px; font-size:13px; line-height:20px; color:#3399CC; font-weight:bold; overflow:hidden; float:left; display:inline;}
#right_inc #mag_content .pictitle a{text-decoration:none; color:#3399CC;}
#right_inc #mag_content .context{width:170px; height:96px; margin-left:13px; overflow:hidden; font-size:12px; line-height:25px; float:left; display:inline;}
#right_inc #mag_content .context a{text-decoration:none; color:#666666;}
#right_inc #mag_dash{width:270px; height:1px; margin-top:10px; margin-left:15px; background:url(/images/right/dashed2.jpg) no-repeat; float:left; display:inline;}
#right_inc #mag_content #sel{width:280px; height:20px; margin-top:15px; margin-left:12px; float:left; display:inline;}
#right_inc #mag_content #sel #old_magazine{width:65px; height:23px; margin-left:7px;}
#right_inc #mag_content #sel #show_magazine{width:190px; height:23px; margin-left:7px;}
#right_inc #mag_content #btnonline{width:66px; height:22px; margin-top:10px; margin-left:20px; border:0px; background:url('/images/right/readonline.jpg') no-repeat; float:left; display:inline;}
#right_inc #mag_content #sq{width:66px; height:22px; margin-top:10px; margin-left:20px; border:0px; background:url('/images/right/sqread.jpg') no-repeat; float:left; display:inline;}
#right_inc #mag_content #ck{width:200px; height:20px; margin-right:10px; line-height:20px; font-size:12px; text-align:right; float:right; display:inline;}
#right_inc #mag_content #jr{width:66px; height:22px; margin-top:10px; margin-left:15px; border:0px; background:url(/images/index/sqread2.jpg) no-repeat; float:left; display:inline;}
#right_inc #mag_content #ck a{color:#666666; font-weight:bold;}

#right_inc #forum_box{width:315px; border-left:1px solid #E1E1E1; border-right:1px solid #E1E1E1; float:left; display:inline;}
#right_inc #forum_box .pic{width:295px; margin-top:10px; overflow:hidden; margin-left:10px; height:125px; float:left; display:inline;}
#right_inc #forum_box .pic img{width:295px; height:125px;}
#right_inc #forum_box .pictitle{width:290px; height:20px; margin-top:13px;  margin-left:13px; font-size:13px; line-height:20px; color:#3399CC; font-weight:bold; overflow:hidden; float:left; display:inline;}
#right_inc #forum_box .pictitle a{color:#003899; text-decoration:none;}
#right_inc #forum_dash{width:295px; height:1px; margin-top:10px; margin-left:10px; background:url(/images/right/dash4.gif) repeat-x; float:left; display:inline;}
#right_inc #forum_box .content{width:287px; height:20px; margin-left:20px; font-size:13px; line-height:20px; overflow:hidden; float:left; display:inline;}
#right_inc #forum_box .content li{width:260px; height:20px; padding-left:14px; line-height:20px; font-size:13px; background:url(/images/right/tar5.gif) no-repeat 0 8px; overflow:hidden;  float:left; display:inline;}
#right_inc #forum_box .content a{color:#003899; text-decoration:none;}

#right_inc .column_box{width:300px; margin-left:15px; margin-top:20px; float:left; display:inline;}
#right_inc .column_box .col_pic{width:62px; height:62px; margin-left:3px; margin-top:3px; float:left; display:inline;}
#right_inc .column_box .col_pic img{width:62px; height:62px;}
#right_inc .column_box .clo_name{width:217px; height:20px; font-size:14px; line-height:20px; font-weight:bold; margin-left:10px; float:left; display:inline;}
#right_inc .column_box .clo_name a{color:#000000; text-decoration:none;}
#right_inc .column_box .clo_des{width:217px; height:40px; margin-top:2px; margin-left:10px; color:#666666; line-height:20px; font-size:12px; overflow:hidden; float:left; display:inline;}
#right_inc .column_box .clo_news{width:270px; height:18px; padding-left:15px; line-height:18px; font-size:13px; overflow:hidden; font-weight:bold; line-height:18px; margin-left:3px; margin-top:7px; background:url(/images/right/tar3.gif) no-repeat 0 6px; float:left; display:inline;}

#r_c_title{width:317px; height:30px; margin-top:10px; line-height:30px; font-size:14px; color:#999999; font-weight:bold; float:right;}
#r_c_l{width:9px; height:140px; cursor:pointer; background:url(/images/right/r_c_l.jpg) no-repeat;}
#r_c_r{width:9px; height:140px; cursor:pointer; background:url(/images/right/r_c_r.jpg) no-repeat;}
#r_c_c{width:299px; height:140px; overflow:hidden;}
#r_c_c .content{width:139px; height:138px; margin-top:5px; margin-left:5px; margin-right:5px;}
#r_c_c .pic{width:137px; height:102px;  border:1px solid #cccccc; overflow:hidden;}
#r_c_c .pic img{width:135px; height:100px; margin:1px;}
#r_c_c .pictitle{width:135px; height:34px; line-height:17px;}
#r_c_c .pictitle a{color:#003899; text-decoration:none;}


#right_inc .right_span{height:25px; margin-left:20px; margin-top:10px; line-height:25px; font-weight:bolder; white-space:nowrap;  font-size:13px; float:left; display:inline;}
#right_inc .right_span a{color:#333385; text-decoration:none;}

#right_inc .style1{color:#3E83BA; text-decoration:underline;}
#right_inc .style2{color:#999999; text-decoration:none;}
#right_inc .red{color:#ff0000; font-weight:bolder;}
#right_inc .blue{color:#3E83BA;}
#right_inc .famous_a{height:20px; margin-left:10px; float:left; display:inline;}



#right_inc .context{width:290px; height:38px; margin-top:11px; margin-left:13px; line-height:19px;color:#003899; overflow: hidden;}
#right_inc .context a{color:#003899; text-decoration: none;}
#right_inc .context1{width:290px; height:16px; line-height:16px; margin-left:13px; color:#999999;}
#right_inc .context1 a{color:#999999; text-decoration:none;}
#right_inc .context1 a:hover{ text-decoration:underline;}

#right_inc .plist_box{width:80px; height:125px; margin:12px;}
#right_inc .plist_pic img{width:80px; height:80px;}
#right_inc .piist_title{width:80px; height:40px; margin-top:5px; line-height:20px; overflow:hidden; font-size:13px;}
#right_inc .piist_title a{color:#333333; text-decoration:none;}
#right_inc .plist_line{width:280px; height:25px; line-height:25px; overflow:hidden; font-size:13px; padding-left:15px;}
#right_inc .plist_line a{color:#003899; text-decoration:none;}

