body {font-size:12px; font-family:Arial; color:#000;  margin:0 auto; padding:0;}
p{margin:0; padding:0}
#ibody{width:1000px; margin:0 auto; float:none; display:block;}
#bread{width:494px; height:23px; margin-top:16px; padding-left:130px; font-size:12px; color:#666666; line-height:23px; background:url(/images/public/bread.jpg) no-repeat 10px 0;}
#bread a{color:#666666; text-decoration:none;}
#hr_top{width:1000px; height:20px; background:url(../images/survey/zh_hr.jpg) no-repeat;  float:left; dislay:inline;}

.select:hover {border:1px solid #666666;}
.select{border:1px solid #cccccc; float: left; display: inline;}

#f_z{width:642px;  float:left; display:inline;}
.f_title{width:640px; height:30px; float:left; display:inline;}
.f_title_left{width:3px;height:30px; background:url(../images/club/l_title_left.jpg) no-repeat; float:left; display:inline;}
.f_title_middle{width:634px; height:28px; background:url(../images/club/l_title_center_bg.jpg) repeat-x; line-height:28px; no-repeat; border-top:1px solid #E6E6E6; border-bottom:1px solid #E6E6E6;  float:left; dislay:inline;}
.f_title_right{width:3px; height:30px; background:url(../images/club/l_title_right.jpg) no-repeat; float:left; display:inline;}
.title_z{width:100px; height:28px; margin-left:10px;font-size:14px; font-weight:bold; color:#246BB0; float:left; display:inline;}
#f_content{width:638px; border-left:1px solid #E6E6E6; border-bottom:1px solid #E6E6E6; border-right:1px solid #E6E6E6; float:left; display:inline;}

#file{  float:left; display:inline;}

.f_xx{width:80px; height:15px;  margin-left:2px; line-height:20px;  font-size:13px; float:left; display:inline;}
#fc_x_right{width:400px; height:20px; margin-top:4px; float:left; display:inline;}
.fc_title_pg{width:8px; height:15px; margin-top:7px; margin-left:10px; background:url(../images/index/column_btnr.jpg); float:left; display:inline;}
#fc_a{width:623px; height:30px; line-height:30px; margin-left:10px; font-size:14px; font-weight:bold; float:left; display::inline;}
.fc_title{width:300px; height:30px; margin-left:5px; font-size:13px; font-weight:bold; line-height:30px; float:left; display:inline;}
.fc_c{width:613px; height:30px;  margin-left:20px; line-height:30px; float:left; display:inline;}
.fc_c_left{width:100px; height:30px; margin-left:20px; font-size:13px; font-weight:bold; float:left; display:inline;}
.fc_c_right{width:450px; height:30px; font-size:13px; font-weight:bold; float:left; display:inline;}
#fc_c_redio{width: 150px; height:30px; margin-left:20px; font-size:13px; font-weight:bold; float:left; display:inline;}
#fc_c_right{width:370px; height:30px;  font-size:13px; float:left; display:inline;}
.f_x{width:80px; height:20px;  margin-left:2px; margin-top:5px; line-height:20px;  font-size:13px; float:left; display:inline;}
#moneyvalue{width:250px;  line-height:23px; font-size:13px; float:left; display:inline;}
#fc_money{width:600px; height:50px; margin-left:20px; line-height:30px; float:left; display:inline;}
#fc_c_money{width:100px; height:50px; line-height:50px; margin-left:20px; font-size:13px; font-weight:bold; float:left; display:inline;}
#money_input{width:200px; height:30px; margin-top:8px;  font-size:13px; font-weight:bold; float:left; display:inline;}
#fc_trae{width:635px; height:220px; font-size:13px; float:left; display:inline;}

#trae_left{width:100px; height:200px;  margin-top:5px; margin-left:40px; font-weight:bold; float:left; display:inline;}
#fc_open{width:400px; height:30px;  font-size:13px; float:left; display:inline;}
#f_hr{width:628px; height:1px; margin-left:5px; margin-top:20px;	 background:url(../images/rich/hr.gif) repeat-x; font-size:0px; line-height:0px; float:left; display:inline;}
#fc_c_bottom{width:628px; height:20px; margin-top:15px; font-weight:bold; font-size:13px; text-align:center; float:left; display:inline;}

.n{width:10px; height:10px; float:left ; display:inline;}
#company_a{width:635px; height:90px;  float:left ; display:inline;}
#company_b{width:635px; height:90px;  float:left ; display:inline;}
.com_a{ width:90px; height:90px; margin-left:50px; line-height:90px; font-size:13px; font-weight:bold;  float:left; display:inline;}
.com_c{ width:140px; height:90px; margin-left:3px; 	 font-size:13px; font-size:13px; font-weight:bold; float:left; display:inline;}
.year_a{width:130px; height:20px; margin-top:17px;  line-height:20px; float:left; display:inline;}
.year_d{width:70px; height:45px; line-height:40px; float:left; diaplay:inline;}
.com_d{width:70px; height:90px; float:left; display:inline;}
.money_b{width:140px; height:20px; margin-top:15px; overflow:hidden; float:left; display:inline;}
.com_e{width:90px; height:90px; text-align:center; float:left; display:inline;}
.com_f{width:138px; height:80px; font-size:12px; margin-top:5px; margin-left:5px; border:1px solid #999999; float:left; display:inline;}

.company_left{width:100px; height:30px; margin-left:30px; font-size:13px; font-weight:bold; float:left; display:inline;}
#comany_add{width:130px; height:30px; margin-left:20px; font-size:13px; font-weight:bold; float:left; display:inline;}
#fc_m{width:600px; height:50px; margin-left:20px; line-height:30px; float:left; display:inline;}
#fc_c_ma{width:120px; line-height:20px; margin-left:30px; font-size:13px; font-weight:bold; float:left; display:inline;}
#money_i{width:200px; height:30px; margin-top:8px;  font-size:13px; font-weight:bold; float:left; display:inline;}
#money_i input{border:1px solid #999999;  width:190px; margin-top:5px; height:20px;}
#money_v{width:140px; height:50px; line-height:50px; margin-left:5px; font-size:13px; float:left; display:inline;}
#fc_v{width:600px; height:50px;  margin-left:20px; margin-top:5px; text-align:left; line-height:30px; float:left; display:inline;}
#post_input{border:1px solid #999999; margin-left:30px; width:100px; margin-top:5px; height:20px;}
#add_income1{width:70px; height:24px; border:0px solid red; margin-top:15px; background:url(../images/sign/right_b_b_btn.jpg) no-repeat;}
#del_income1{width:70px; height:24px; border:0px solid red; background:url(../images/sign/right_b_b_btn.jpg) no-repeat; margin-top:10px;}
#year1{width:70px; margin-top:18px;}
#income1{width:70px; margin-top:7Px;}
#re_a{border:1px solid #999999; width:444px; margin-top:5px; height:20px;}
#re_b{border:1px solid #999999; width:444px; margin-top:5px; height:20px;}
.linkman_a{width:630px; height:30px;  float:left; display:inline;}
.linkman_name{width:100px; height:30px; margin-left:42px; line-height:30px; font-size:13px; font-weight:bold; float:left; display:inline;}
#linkman_phone{width:80px; height:30px; margin-left:12px; line-height:30px; font-size:13px; font-weight:bold; float:left; display:inline;}
#phone_a{border:1px solid #999999;  width:30px; margin-top:5px; height:20px; margin-left:15px;}
#phone_b{border:1px solid #999999;  width:83px; margin-top:5px; height:20px; margin-left:3px;}
#phone_c{border:1px solid #999999;  width:27px; margin-top:5px; height:20px; margin-left:3px;}
#address{border:1px solid #999999; width:414px; margin-top:5px; height:20px;}
#linkman_qq{width:80px; height:30px;  margin-left:21px; line-height:30px; font-size:13px; font-weight:bold; float:left; display:inline;}
#q_input{border:1px solid #999999;  width:156px; margin-top:5px; margin-left:6px; height:20px;}
#add_income2{width:70px; height:24px; border:0px solid red; background:url(../images/sign/right_b_b_btn.jpg) no-repeat; margin-top:15px;}
#del_income2{width:70px; height:24px; border:0px solid red; background:url(../images/sign/right_b_b_btn.jpg) no-repeat; margin-top:10px;}
#fc_open input{margin-top:5px; }
#msn{border:1px solid #999999;  width:156px; margin-top:5px; height:20px;}
.rdo{margin-left:10px; float:left; display:inline;}
#rdo_a{float:left; display:inline;}
#linkman_name{width:125px; height:30px; margin-left:42px; line-height:30px; font-size:13px; font-weight:bold; float:left; display:inline;}
#linkman_msn{width:85px; height:30px;  margin-left:21px; line-height:30px; font-size:13px; font-weight:bold; float:left; display:inline;}
#linkman_name_input input{border:1px solid #999999;  width:169px; margin-top:5px; height:20px; margin-left:29px;}
.linkman_input input{border:1px solid #999999;  width:169px; margin-top:5px; height:20px; margin-left:29px;}
#p_info{border:1px solid #999999;  width:170px; margin-top:5px; height:20px; margin-left:4px;}
#req{width:150px; margin-top:6px;}
#year2{width:70px; margin-top:18px;}
#income2{width:70px; margin-top:7Px;}
#kong{width:635px; height:80px; text-align:center; float:left; display:inline;}
#kong input{width:100px; height:28px; text-align:center; margin-top:30px;  border:0px solid red; background:url(../images/sign/right_b_b_btn1.jpg) no-repeat; }
#money_input input{border:1px solid #999999;  width:190px; margin-top:5px; height:20px;}
.fc_c_right input{border:1px solid #999999; width:400px; margin-top:5px; height:20px;}
#cr_t{border:1px solid #999999; margin-left:20px; width:414px; margin-top:5px; height:20px;}
#www_r{border:1px solid #999999; width:450px; margin-top:5px; height:20px;}
#r_textarea{width:450px;  margin-top:5px; height:200px;}