body {font-size:12px;  color:#000000; margin:0 auto; padding:0;}

#ibody{width:1000px; margin:0 auto; float:none; display:block;}
#bread{width:494px; height:23px; margin-top:16px; padding-left:130px; font-size:12px; color:#666666; line-height:23px; background:url(/images/public/bread.jpg) no-repeat 10px 0;}
#bread a{color:#666666; text-decoration:none;}
#bread_line{width:1000px; height:8px; margin-top:2px; background:url('/images/public/bread_line.jpg') no-repeat;}





#question_div{width:658px; margin-top:10px;line;}
.top_lpg{width:10px; height:30px; background:url(/images/survey/t_l.jpg) no-repeat;}
.top_rpg{width:8px; height:30px; background:url(/images/survey/t_r.jpg) no-repeat;}
.top_pg{width:640px; height:30px;  background:#F3F3F3; float:left; display:inline;}
.survey2_z{margin-top:10px; padding-bottom:20px;}
.s2_content{margin-top:5px;}
.title_pic{width:19px; height:21px; margin-top:3px;  float:left; display:inline;}
.s2_title{width:500px; height:20px; margin-top:5px; line-height:20px; font-size:15px; font-weight:bolder; overflow:hidden; color:#246BB0;  margin-left:5px; float:left; display:inline;}
.s2_top{width:658px; height:30px; float:left; display:inline;}
.s2{width:650px; height:10px; float:left; display:inline;}
.s2_c{width:600px; height:20px; margin-left:20px; margin-top:6px; overflow:hidden; float:left; display:inline;}
.s2_c_radio{width:20px; height:20px;  float:left; display:inline;}
.s2_c_content{width:560px; height:20px; margin-left:10px; font-size:13px; line-height:23px; font-weight:550;  float:left; display:inline;}
#s2_submit{width:658px; height:30px; text-align:center;  float:left; display:inline;}
#s2_submit input{border:0 solid red; width:63px; height:24px;  background:url(/images/survey/right_b_b_btn.jpg);}
