#top_div{width:1000px; height:244px; overflow:hidden;}
#top_img_left{width:727px; height:88px; border:1px solid #898B8B;}
#top_img_left img{width:725px; height:86px; margin-left:1px; margin-top:1px; }
#top_img_right{width:264px; height:88px; border:1px solid #898B8B; float:right;}
#top_img_right img{width:262px; height:86px; border:0px solid #000000;}
#top_bg{width:1000px; height:90px; margin-top:3px; background: url(/images/index_two/top_pg.jpg) repeat-x;}
	#top_logon{width:170px; height:76px; margin-top:7px; margin-left:8px; background:url(/images/index_two/logon.jpg) no-repeat; }
	#top_banner{width:580px; height:76px;}
		.forbes_search{width:102px; height:28px; margin-top:20px; margin-left:60px; font-size:12px; background:url(/images/public/tm2008-select.gif) no-repeat 0 0; overflow:hidden;}
		.forbes_search .iselect{width:102px; height:28px; display:none;}
		.forbes_search div.tag_select{width:82px; height:27px; padding:0 10px; color:#000; line-height:26px; background:url(/images/public/tm2008-select.gif) no-repeat 0 0;  display:block;}
		.forbes_search div.tag_select_hover{width:82px; height:28px;  padding:0 10px; color:#000; line-height:28px; background:url(/images/public/tm2008-select.gif) no-repeat 0 -28px;  display:block;}
		.forbes_search div.tag_select_open{width:82px; height:27px; padding:0 10px; color:#000; line-height:26px; background:url(/images/public/tm2008-select.gif) no-repeat 0 -56px;  float:none; display:block;}
		.forbes_search ul.tag_options{width:80px; margin-left:1px; padding:0 0 0; list-style:none; background:url(/images/public/tm2008-select.gif) no-repeat -103px 0; border-bottom:1px solid #56A2D1; position:absolute;}
		.forbes_search ul.tag_options li{width:60px; height:26px; padding:0 10px; color:#000; line-height:26px; text-decoration:none;  background:url(/images/index/tm2008-select.gif) repeat-y -102px 0; float:none; display:block;}
		.forbes_search ul.tag_options li.open_hover{color:#000; background:url(/images/public/tm2008-select.gif) no-repeat -1px -113px;}
		.forbes_search ul.tag_options li.open_selected{color:#19555F; background:url(/images/public/tm2008-select.gif) no-repeat -1px -84px;}
		#top_banner #top_input{ height:20px; margin-top:20px; margin-left:5px;}
		#top_select{width:71px; height:24px; margin-top:20px; line-height:24px; text-align:center; color:#ffffff; background:url(/images/index_two/top_btn1.jpg) no-repeat; border:0px solid #000000;}
	#top_right_banner{width:468px; margin-left:60px; padding-top:10px; color:#ffffff;}
		.top_login{width:65px; height:14px; border-left:1px solid #8C8E8F; text-align: center;}
		#top_login{width:35px; height:14px; }
		.login_left{height:15px; padding-right:10px;}
		.login_right{width:60px; height:15px; overflow:hidden;}
		#top_right_banner a{font-size:12px; text-decoration: none; color:#ffffff;}
	#top_menu_banner{width:1000px; height:32px; margin-top:2px; }
		#top_menu_left{width:5px; height:31px; background:url(/images/index_two/menu1.jpg) no-repeat;}
		#top_menu_content{width:990px; height:32px; background:url(/images/index_two/menu_pg.jpg) repeat-x;}
			#top_menu_content div{width:8.9%; height:12px; margin-top:5px; border-left:1px solid #77BDDF; border-right:1px solid #036AB9; color:#ffffff; font-weight: bold; text-align: center;}
			#top_menu_content div a{color:#ffffff; text-decoration:none;}
		#top_menu_right{width:5px; height:31px; background:url(/images/index_two/menu2.jpg) no-repeat;}
	.top_menu2_banner{height:35px; margin-top: -7px;}
		.top_menu2_left{width:7px; height:35px; background:url(/images/index_two/menu3.jpg) no-repeat;}
		.top_menu2_content{ height:35px; background:url(/images/index_two/menu2_pg.jpg) repeat-x;}
			.t_content{height:20px; margin-top: 5px; line-height: 20px; padding-right:15px;}
				.t_content div{width: 3px; height: 3px; margin-top: 8px; background: #3089C3; font-size: 0px; }
				.t_content a{margin-left:7px; color:#807C7C; font-size: 12px; text-decoration: none; float:left; display:inline;}
		.top_menu2_right{width:8px; height:35px; background:url(/images/index_two/menu4.jpg) no-repeat;}
	#life_div{width:252px; height:40px; overflow:hidden;}
	#magazine{width:240px; height:90px; float:right;}
		#photo{width:75px; height:80px; margin-top:5px;}
			#photo img{width:75px; height:80px; border:0;}
		#m_title{width:140px; height:40px; margin-top:10px; margin-left:5px; line-height:20px; font-size:18px; font-weight:bolder;}
			#m_title a{color:#fff; text-decoration:none;}
		#m_bottom{width:60px; height:19px; margin-top:8px; margin-right:30px; float:right;}
			#m_bottom img{border:0;}
#bottom_banner{width:1000px; height: 220px; margin-top:15px; border-bottom: 6px solid #013B7B; overflow: hidden;}
#bottom_top{width:1000px; height:8px; font-size:0; background-image:url(/images/index_two/bottom_top.gif);}
#bottom_center{width:1000px; height:212px; background-image:url(/images/index_two/bottom_bg.png);}
	.bottom_value{width:124px; height:175px; margin-top:18px; border-right:1px solid #fff; text-align: center; overflow:hidden; position:relative;}
	.bottom_value .top_bottom{width:22px; height:26px; background-color:#000; position:absolute; top:20px; left:95px; cursor:pointer; display:none; background:url(/images/index_two/arrow2.gif) no-repeat;}
	.bottom_value .bottom_bottom{width:22px; height:26px; background-color:#000; position:absolute; top:145px; left:95px; cursor:pointer; display:none; background:url(/images/index_two/arrow1.gif) no-repeat;}
	.bottom_value div{width:119px; height:25px; line-height:25px; color:#fff; font-siZe:14px; text-decoration:none;}
	.bottom_value div a{color:#fff; font-size:14px; text-decoration:none;}
	.sub_cate{background:url(/images/index_two/dian_white.gif) no-repeat 22px 11px;}
	.main_cate{font-weight:bold;}
#bottom{width:1000px; height: 32px;  margin-top:2px; line-height:32px; text-align:center; padding-bottom:10px; background: url(/images/index_two/b_pg.jpg) repeat-x;}
	#bottom a{font-size: 12px; text-decoration: none; color:#010101;}
#bottom_word{width:100%; text-align:center; line-height:20px;}
#bottom_word div{width:100%; text-align:left;}
#bottom_word a{color:#000; text-decoration:none;}
