body {font-size:12px;  color:#000000; margin:0 auto; padding:0;}

#ibody{width:1000px; margin:0 auto; float:none; display:block;}
#bread{width:494px; height:23px; margin-top:16px; padding-left:130px; font-size:12px; color:#666666; line-height:23px; background:url(/images/public/bread.jpg) no-repeat 10px 0;}
#bread a{color:#666666; text-decoration:none;}
#bread_line{width:1000px; height:8px; margin-top:2px; background:url('/images/public/bread_line.jpg') no-repeat;}
#hr_top{width:1000px; height:20px; background:url(../images/comments/zh_hr.jpg) no-repeat;  float:left; dislay:inline;}

#left{ width:665px;  float:left; display:inline;}

.zh_left_c_left{ width:100px; height:110px; border:1px solid #999999;  margin-left:10px; margin-top:20px; text-align:center; float:left; display:inline;}
.zh_left_c_right{ width:410px; height:150px; margin-left:30px; margin-top:10px; font-size:13px; color:#666666; font-family:ו; float:left; display:inline;}
.zh_left_c{ width:630px; margin-top:0px; float:left; display:inline;}

.zh_left_c_left img{width:96px; height:106px; margin-left:2px; margin-top:2px; float:left; display:inline;}

.zh_left_name{ width:410px; height:15px; font-size:15px; color:#246BB0; font-family:ו; float:left; display:inline;}

.zh_left_CompanyName{ width:150px; height:15px; margin-top:10px; float:left; display:inline;}
.zh_left_TypeofBusiness{ width:100px; height:15px; margin-left:20px; padding-top:10px; float:left; display:inline;}
.zh_left_com{ width:410px; height:30px;  margin-top:5px; float:left; display:inline;}
.zh_left_investmentdirection{ width:150px; height:20px; float:left; display:inline;}
.zh_left_ii{width:410; height:20px; margin-top:5px; float:left; display:inline;}
.zh_left_investmentdirectioncontent{width:200px; height:20px; margin-top:5px; float:left; display:inline;}
.zh_left_Newsofinvestment{ width:200px; height:20px; margin-top:5px; float:left; display:inline;}
.zh_left_InvestmentVehicle{ width:410px; height:20px; margin-top:5px; float:left; display:inline;}




#page{width:550px; margin-left:45px; height:20px;  margin-top:10px; text-align:center; float:left; display:inline;}
#up{width:21px; height:17px; margin-left:150px; background:url(../images/contact/up.jpg) no-repeat; float:left; display:inline;}
#next{width:21px; height:15px; margin-top:2px; background:url(../images/contact/next.jpg) no-repeat; float:left; display:inline;}
#number{width:150px; height:20px; line-height:20px; font-size:13px; text-align:center; float:left; display:inline;}