body {font-size:12px;  font-family:Arial,宋体; color:#000;  margin:0 auto; padding:0;}

#ibody{width:1000px; margin:0 auto; float:none; display:block;}
#bread{width:494px; height:23px; margin-top:16px; padding-left:130px; font-size:12px; color:#666666; line-height:23px; background:url(/images/public/bread.jpg) no-repeat 10px 0;}
#bread a{color:#666666; text-decoration:none;}
#bread_line{width:1000px; height:8px; margin-top:2px; background:url('/images/public/bread_line.jpg') no-repeat;}

#cy_left{width:635px; margin-left:10px; float:left; display:inline;}
#cy_left #search{width:472px; height:21px; margin-top:10px; margin-left:25px; line-height:21px; font-size:14px; font-weight:bold; float:left; display:inline;}
#cy_left #search select{width:200px; height:21px; margin-left:10px;}
#cy_left #search input{width:100px; height:16px;  margin-left:20px;}
#cy_left #search button{width:46px; height:21px; margin-left:10px; border:0px; background:url('/images/tyzl/search_btn_bg.jpg') no-repeat;}
#cy_title{width:635px; height:28px; margin-top:20px; float:left; display:inline;}
#cy_title #title_left{width:1px; height:28px; background:url(/images/tyzl/tyzl_title_left.jpg) no-repeat; float:left; display:inline;}
#cy_title #title_center{width:633px; height:28px; background:url('/images/tyzl/tyzl_title_center.jpg') repeat-x; float:left; display:inline;}
#cy_title #title_center #bt{height:28px; margin-left:10px; line-height:28px; color:#999999; font-size:14px; font-weight:bold; float:left; display:inline;}
#cy_title #title_right{width:1px; height:28px; background:url(/images/tyzl/tyzl_title_left.jpg) no-repeat; float:left; display:inline;}
.cy_content{width:635px; margin-top:15px; float:left; display:inline;}
.cy_content .pic{width:92px; height:92px; margin-left:10px; border:1px solid #999999; float:left; display:inline;}
.cy_content .pic img{width:90px; height:90px; margin-top:1px; margin-left:1px; float:left; display:inline;}
.cy_content .pictitle{width:482px; height:20px; margin-left:10px; color:#0d4471; line-height:20px; font-size:14px; font-weight:bold; overflow:hidden; float:left; display:inline;}
.cy_content .piccontent{width:482px; height:60px; margin-top:10px; margin-left:10px; color:#666666; line-height:20px; overflow:hidden; float:left; display:inline;}
.newarticle{width:635px; margin-top:10px; float:left; display:inline;}
.newarticle .wz{width:96px; height:18px; margin-left:10px; margin-bottom:10px; font-size:14px; line-height:18px; font-weight:bold; float:left; display:inline;}
.newarticle .wx{width:518px; height:16px; margin-top:1px; background:url(/images/tyzl/wx.jpg) no-repeat; line-height:16px; float:right; display:inline;}
.newarticle .wx .enterzl{width:82px; height:16px; margin-right:10px; line-height:16px; background:#ffffff; text-align:center; float:right; display:inline;}
.newarticle .wx .enterzl a{color:#0d447e; text-decoration:none;}
.newarticle .content{width:615px; height:20px; margin-left:10px; line-height:20px; overflow:hidden; float:left; display:inline;}
.newarticle .content .images{width:5px; height:5px; margin-top:7px; background:url('/images/tyzl/sjt.jpg') no-repeat; float:left; display:inline;}
.newarticle .content .context{width:600px; height:20px; margin-left:10px; font-size:13px; overflow:hidden; float:left; display:inline;}
.newarticle .content .context a{color:#0d447e; text-decoration:none;}
.newarticle .content_dash{width:615px; height:1px; margin-top:5px; margin-bottom:5px; margin-left:10px;  background:url('/images/right/dash.gif') no-repeat; overflow:hidden; float:left; display:inline;}
.cy_dash{width:635px; height:1px; margin-top:10px; background:url('/images/right/dash4.gif') repeat-x; overflow:hidden; float:left; display:inline;}
#paginage{width:650px; height:30px; margin-top:20px; font-size:14px; line-height:30px; color:#666666; text-align:center;}
#paginage a{color:#246BB0; text-decoration:none;}