body{margin:0; font-size:12px; font-family:SimSun;}

#left{width:202px; height:500px; overflow:hidden; float:left; display:inline;}
 #kao_right{width:5px; height:203px; background:url(../image/left_tian_right.jpg) no-repeat; float:right; display:inline;}
 #left_d{width:202px; height:215px; margin-top:4px; padding-top:8px; padding-left:14px; background:url(../image/d.jpg) no-repeat; float:left; display:inline;}
 #left_jian{width:187px; height:25px; background:url(../image/left_jian.jpg) no-repeat; float:left; display:inline;}
 #left_bang{width:202px; height:269px; padding-top:14px; padding-left:8px; background:url(../image/e.jpg) no-repeat; float:left; display:inline;}
#bang{width:150px; padding:10px; font-size:15px; font-weight:bold; color:#312727; float:left; display:inline;}
#bang_rong{width:175px; height:201px; margin-left:5px; margin-top:2px; background:#E1E0E1; float:left; display:inline;}
#left_bottom{width:185px; height:20px; background:url(../image/left_bottom.jpg) no-repeat; float:left; display:inline;}
.table_list{width:170px; margin-top:8px; padding-left:5px; font-family:΢���ź�; font-weight:bold; font-size:12.5px; color:#5E5E5E; text-align:left; line-height:18px; float:left;display:inline;}


