body{margin:0; font-size:12px; font-family:SimSun;}
#content{width:450px; height:400px; margin-top:10px; overflow:hidden; font-size:13px; color:#666666; float:left; display:inline;}
#page{width:400px; height:30px; color:#999999; font-size:12px; line-height:30px; text-align:center; float:left; display:inline;}
#page a{color:#999999; text-decoration:none;}
#back{width:40px; height:30px; font-size:12px; line-height:30px; float:left; display:inline;}
#back a{color:#FF0000; text-decoration:none;}

#con_top{width:450px; height:35px;  color:#0C0000; background:#C4C2C3; float:left; display:inline;}
#con #con_order1{width:450px; height:440px; padding-top:10px; font-size:13px;  line-height:19px; color:#333333; overflow:hidden; float:left; display:inline;}
.fu{margin-top:10px;margin-left:10px; font-size:15px; font-weight:bold; float:left; display:inline;}
.img{float:left; display:inline;}