body {font-size:12px; font-family:Arial,宋体; color:#000;  margin:0 auto; padding:0;}
p{margin:0; padding:0}
#ibody{width:1000px; margin:0 auto;}

#title1	a:link{color:#666666; text-decoration:none;}
#title1	a:visited{color:#666666; text-decoration:none;}
#t_l_t_b #text a:link{color:#003A7B;}
#t_l_t_b #text a:visited{color:#003A7B;}
#t_r_b_r #text a:link{color:#1B3A6C;}
#t_r_b_r #text a:visited{color:#1B3A6C;}
#b_r #text a:link{color:#FFFFFF; text-decoration:none;}
#b_r #text a:visited{color:#FFFFFF; text-decoration:none;}


#ibody{width:1000px; margin:0 auto; float:none; display:block;}
#bread{width:494px; height:23px; margin-top:16px; padding-left:130px; font-size:12px; color:#666666; line-height:23px; background:url(../../../images/public/bread.jpg) no-repeat 10px 0;}
#bread a{color:#666666; text-decoration:none;}
#bread_line{width:1000px; height:8px; margin-top:2px; background:url('../../../images/public/bread_line.jpg') no-repeat;}

#top_hr{width:1000px; height:15px; background:url(../../../images/contact/zh_hr.gif) no-repeat; float:left; display:inline;}