body {font-size:12px; font-family:Arial,宋体; color:#000;  margin:0 auto; padding:0;}
p{margin:0; padding:0}
#ibody{width:1000px; margin:0 auto;}

#title1	a:link{color:#666666; text-decoration:none;}
#title1	a:visited{color:#666666; text-decoration:none;}
#t_l_t_b #text a:link{color:#003A7B;}
#t_l_t_b #text a:visited{color:#003A7B;}
#t_r_b_r #text a:link{color:#1B3A6C;}
#t_r_b_r #text a:visited{color:#1B3A6C;}
#b_r #text a:link{color:#FFFFFF; text-decoration:none;}
#b_r #text a:visited{color:#FFFFFF; text-decoration:none;}


#ibody{width:1000px; margin:0 auto; float:none; display:block;}
#bread{width:494px; height:23px; margin-top:16px; padding-left:130px; font-size:12px; color:#666666; line-height:23px; background:url(/images/public/bread.jpg) no-repeat 10px 0;}
#bread a{color:#666666; text-decoration:none;}
#bread_line{width:1000px; height:8px; margin-top:2px; background:url('/images/public/bread_line.jpg') no-repeat;}

#t{width:996px; height:652px; margin-top:9px; float:left; display:inline;}
#t_l{width:418px; height:649px; float:left; display:inline;}
#t_l_t{width:417px; height:600px; border:solid 1px #CCCCCC; float:left; display:inline;}
.top_picture{width:417px; height:540px; float:left; display:none;}
#t_l_t_b{width:414px; height:52px; float:left; display:inline;}
#t_l_t_b #prev{width:72px; height:22px; border:0px; margin-left:12px; margin-top:18px; background:url(/images/magazine/prev.jpg); float:left; display:inline;}
#t_l_t_b #next{width:72px; height:22px; border:0px; margin-left:18px; margin-top:18px; background:url(/images/magazine/next.jpg); float:left; display:inline;}
#t_l_t_b #text{width:111px; height:22px; margin-left:111px; margin-top:18px; float:left; display:inline;}
#t_l_b{width:417px; height:34px; font-size:14px; font-weight:bold; text-align:center; line-height:34px; margin-top:16px; background-image:url(/images/magazine/t_l_b.jpg); float:left; display:inline;}
#t_r{width:565px; height:652px; margin-left:11px; background-image:url(/images/magazine/t_r.jpg); float:left; display:inline;}
#t_r_t{width:565px; height:30px; font-size:14px;   font-weight:bold; color:#8D8D8D; line-height:30px; text-indent:13px; border-bottom-style:solid; border-width:1px; border-color:#DADADA; float:left; display:inline;}
#t_r_b{width:563px; height:616px; margin-left:1px; overflow:hidden; background:url(/images/magazine/pg_r.jpg) no-repeat; float:left; display:inline;}
#t_r_b_r{width:456px; height:518px; float:left; display:inline;}
#t_r_b_r #title2{width:456px; height:30px; font-size:18px; font-weight:bold; color:#003A7B; line-height:30px; margin-left:2px; margin-top:10px;  float:left; display:inline;}
#t_r_b_r #text{width:450px; height:540px; overflow:hidden; color:#666666; line-height:22px; margin-left:2px; float:left; display:inline;}
#m{width:993px; height:521px; border-left:1px solid #DADADA; border-right:1px solid #DADADA; border-bottom:1px solid #DADADA;  background:url(/images/magazine/PG.jpg) no-repeat; float:left; display:inline;}
#titlex{width:995px; height:30px; font-size:14px; margin-top:33px;  font-weight:bold; color:#8D8D8D; line-height:30px; text-indent:20px; background-image:url(/images/magazine/title1.jpg); float:left; display:inline;}
.m_l{width:479px; height:217px; margin-left:12px; margin-top:13px; float:left; display:inline;}
.m_l .picture{width:150px; height:195px; margin-left:9px; margin-top:11px; float:left; display:inline;}
.m_l_r{width:282px; height:195px; margin-left:17px; margin-top:11px; float:left; display:inline;}
.m_l_r .title3{width:282px; height:26px; font-size:18px; font-weight:bold; color:#003A7B; margin-top:10px; float:left; display:inline;}
.title3 a{color:#003A7B; text-decoration: none;}
.m_l_r .text{width:280px; height:138px; color:#666666; line-height:20px; margin-top:17px; float:left; display:inline;}
#b{width:991px; height:174px; margin-top:26px; float:left; display:inline;}
#b_l{width:715px; height:173px; background-image:url(/images/magazine/b_l.jpg); float:left; display:inline;}
#b_l #title4{width:715px; height:30px; font-size:14px; font-weight:bold; color:#003A7B; line-height:30px; text-indent:14px; background-image:url(/images/magazine/title2.jpg); float:left; display:inline;}
#b_l_b{width:714px; height:142px; background-image:url(/images/magazine/b_l_b.jpg); float:left; display:inline;}
#picture_box{margin-left:190px; font-size:0; float:left; display:inline;}
#b_l_b .picture{width:94px; height:124px; border:solid 1px #13638C; margin-left:26px; margin-top:9px; float:left; display:inline;}
#b_l_b .picture1{width:93px; height:123px; border:solid 1px #99BBCD; float:left; display:inline;}
#b_r{width:255px; height:173px; margin-left:21px; background-image:url(/images/magazine/b_r.jpg); float:right; display:inline;}
#b_r #text{width:236px; height:21px; font-size:14px; font-weight:bold; text-align:right; font-family:微软雅黑; margin-left:7px; margin-top:10px; float:left; display:inline;}

#button{width:122px; height:23px; border:0px; margin-left:121px; margin-top:17px; background-image:url(/images/magazine/button.jpg); float:left; display:inline;}
#magazine_banner2{width:995px; height:102px; margin-top:18px; float:left; display:inline;}
#magazine_banner2 img{width:995px; height:102px;}
#m_title2{width:996px; height:30px; margin-top:20px;   background:url(/images/magazine/title1.jpg) no-repeat; float:left; display:inline;}
#title_f{width:300px; height:30px; margin-left:15px; color:#8D8D8D; font-weight:bold; font-size:14px; line-height:30px; float:left; displaY:inline;}
#t_r_b p{font-size:14px;  letter-spacing:0.1px; line-height:25px; font-weight:500;}
#zhuanlan_top{width:500px; height:50px; font-size:18px; font-weight:bold; color:#003A7B; line-height:50px; float:left; display:inline;}
#t_r_pg{width:500px; height:600px; margin-left:33px; line-height:20px; overflow:hidden; float:left; display:inline;}
