body {font-size:12px; font-family:宋体,Arial; color:#000000; margin:0 auto; padding:0;}
p{margin:0; padding:0;}
ul{margin:0; padding:0;}
li{margin:0; padding:0;} 
div{margin:0; padding:0; float:left; display:inline;}

#ibody{width:1000px; margin:0 auto; float:none; display:block;}
#bread{width:494px; height:23px; margin-top:16px; padding-left:130px; font-size:12px; color:#666666; line-height:23px; background:url(/images/public/bread.jpg) no-repeat 10px 0;}
#bread a{color:#666666; text-decoration:none;}
#bread_line{width:1000px; height:8px; margin-top:2px; background:url('/images/public/bread_line.jpg') no-repeat;}
.con_left { float:left;width:570px; }

.bc{width:294px;}

.subscription {line-height:20px;}
.subscription table { border-collapse:collapse}
.subscription table tr td { padding:2px;}
#su_bottom{margin-left:250px;}
#chang_pic{ cursor:pointer; color:#246BB0; margin-left:10px; line-height:22px; font-weight:normal;}
.subscription select { width:300px;}
.subscription input { padding:2px;}
td input,select{border:1px solid #999999; }
td{font-weight:bold; font-size:13px; line-height:28px; }
#su_bottom{width:100px; height:30px; }
#yzm{width:60px; height:22px; margin-left:10px; font-size:16px; font-weight:bold; line-height:22px; }
.inputradio{border:none;}
