@CHARSET "UTF-8";
body{
	margin:0;
	padding:0;
	font-size:0px;
	line-height:0px;
	background-image:url(../images/bg.jpg);
	font-family:SimSun;
}

#main{
	width:954px;
	height:770px;
	border-left:4px solid #990000;
	border-right:4px solid #990000;
	background-color:#fff;
	margin:0 auto;
}

#menu_bottom{
	width:100%;
	height:47px;
	background-image:url(../images/menu_bom_bg.png);
}

#left{
	width:350px;
	float:left;
}

#right{
	width:600px;
	float:left;
}

#title{
	width:567px;
	height:40px;
}
#title1{
	font-size:20px;
	line-height:22px;
	margin-top:17px;
	margin-left:10px;
	color:#A96023;
	font-weight:bolder;
	font-family:Microsoft YaHei;
	float:left;
}

#title2{
	font-size:39px;
	line-height:39px;
	margin-top:5px;
	margin-right:10px;
	color:#CCCCCC;
	font-weight:bolder;
	font-family:Arial;
	float:right;
}

#line{
	width:567px;
	height:10px;
	background-image:url(../images/line.gif);
}

#text{
	width:540px;
	margin-top:15px;
	padding:15px;
	border:1px solid #EEC38E;
	background-color:#FEF8E9;
}
#text p{
	margin:0;
	font-size:15px;
	line-height:2em;
	text-indent:2em;
}

#text_bottom{
	width:100%;
	margin-top:50px;
	line-height:25px;
	font-size:15px;
	text-align:center;
}

#bottom{
	width:100%;
	height:47px;
	background-image:url(../images/bottom.png);
	float:left;
}
