@CHARSET "UTF-8";
body{width:1018px; margin: 0 auto; line-height:14px; font-size:12px;font-family:宋体,Arial; background:#EFFFFF;}
body div{float:left; display:inline;}
body a{text-decoration:none;}

#ibody{background:url("../images/cs_bj.jpg") repeat-y;}
#part1{width:1000px; height:319px; margin-left:9px; background:url("../images/CS_TOP.jpg") no-repeat;}

#part2{width:1000px; height:43px; margin-left:9px;background:url("../images/nav_bj.jpg") repeat-x;}
	#p2_navbox{width:832px; height:43px; margin-left:84px; color:#ffffff;font-size:16px; font-weight:bold; line-height:44px;}
		.nav_menu{padding:0px 26px; cursor:pointer;}
		.hinder{width:2px; height:43px; background:url("../images/hinder.jpg") no-repeat;}
#part4{width:1000px; height:62px; margin-top:20px; margin-left:9px; border-top:1px solid #a9a9a9;}
#copyright{width:1000px; margin-top:20px; color:#999999; text-align:center;}

#part3{width:1000px; margin-left:9px; margin-top:18px; background:#FFF;}
	#p_left{width:242px; color:#333333;}
	#left_border{width:242px; border-right:1px solid #a9a9a9; border-bottom:1px solid #a9a9a9;}
		.framwork{width:242px;}
			.fram_title{width:222px; height:30px; font-size:16px; line-height:30px; font-weight:bold; color:#005f99; padding-left:20px; background:url("../images/left_titlebj.jpg") repeat-x;}
			.fram_line{width:242px; height:2px; line-height:0px; font-size:0;}
				.line_left{width:50%; height:2px; background:#149bd0;}
				.line_right{width:50%; height:2px; background:#a9a9a9;}
			.fram_content{width:242px;}
			.fram_filing{width:242px;}
				.c_line{width:215px; height:12px; margin-top:17px; margin-left:14px;}
					.c_name{font-weight:bold;}
					#c_time{width:100px; margin-left:12px;}
					.logo_title{width:167px; font-size:12px; line-height:14px; font-weight:bold; margin-top:12px; margin-left:75px;}
					.logo_body{width:242px; margin-top:12px; text-align:center;}
				#f_text{width:202px; font-size:12px; line-height:20px; text-align:justify; margin-top:8px; margin-left:17px;}
				#down_apply{width:205px; margin-left:15px; margin-top:30px;}
				#info_text{width:189px; font-size:12px; line-height:20px; margin:17px 0 17px 25px;}
				
		#right_html{width:747px; float:right;}		