#h_left{width:443px;}
#h_right{width:293px; color:#666666; margin-left:10px;}
		#m_photo{height:33px; width:443px; background:url("../images/snapshot.jpg") no-repeat;}
		#p4_box{width:443px; height:170px; border-bottom:1px solid #DFDFDF; background:#f7f7f7;}
		#p4_box img{height:123px; width:190px;}
			#p4_top{width:415px; height:157px; margin-left:24px; margin-top:9px;}
			#p4_btm{width:415px; height:157px; margin-left:24px; margin-top:9px;}
			.mar_photo{width:190px; height:157px; margin-right:17px}
			#p_tx{width:190px; height:34px; text-align:center;font-size:14px; line-height:34px; color:#666666;}
		#m_textbox{width:443px; height:177px; border-bottom:1px solid #DFDFDF; background:#f7f7f7;}
			#m_text{width:400px; font-size:12px; line-height:20px; text-align:justify; margin:17px 0 5px 21px;}
			#m_text img{width:142px; height:88px; margin:6px 5px 0 0; float:left;}
	
	#p_right{width:293px; height:300px;margin-left:10px;}
		.r_photo{width:293px; height:33px;}
		#r_textbox{width:293px; height:170px; border-bottom:1px solid #DFDFDF;background:#f7f7f7;}
			#r_text{width:254px; height:160px; text-align:justify; color:#416b85; margin-top:10px; margin-left:18px; font-size:12px; line-height:22px;}
			#generalbox{width:293px; height:177px; border-bottom:1px solid #DFDFDF; background:#f7f7f7;}
			#general{width:254px; font-size:12px; line-height:28px; margin-top:17px; margin-left:23px; background:#f7f7f7;}
			#general font{font-size:12px; color:#333333;}

#h_bottom{width:747px; margin-top:20px;}
	#guestbody{width:721px; height:840px; background:#F4F7F9;}
		#g_photobox{width:678px; height:173px; margin-left:29px; margin-top:20px;}
		#more_photo{float:right; margin-right:20px;}
		.g_box{height:166px; width:113px; margin-right:20px;}
			.g_photo{width:113px; height:146px; border:1px solid #9f9f9f; background:#ffffff;}
			.g_photo img{width:103px; height:136px; margin:5px;}
			#p_name{width:113px; height:20px; line-height:20px; text-align:center; font-size:14px; color:#666666;}
		#boxshadowb{float:right; margin-right:26px;}
	#relevantbody{width:715px; height:255px; background:#F4F7F9;}
		#re_textbox{width:600px; font-size:14px; line-height:24px; color:#666666; margin-left:29px; margin-top:16px;}
