#p_middle{width:757px; color:#666666;}
		#m_photo{height:40px; width:747px; border-bottom:2px solid #DFDFDF; border-top:2px solid #DFDFDF; background:#f7f7f7;}
			#m_title{font-size:24px; line-height:40px; font-weight:bold; color:#005f9b; margin-left:8px;}
			#m_tl{font-size:36px; line-height:44px; font-weight:bold; color:#ece9d8; margin-left:8px;}
		
		#m_textbox{width:729px; border-bottom:1px solid #DFDFDF; background:#f7f7f7;}
			#m_text{width:690px; font-size:16px; text-align:justify; line-height:28px; margin:14px 0 5px 17px;}
			#m_text font{color:#333333; font-weight:bold; line-height:44px;}
			#m_text img{float:left; margin:4px; height:130px;}
			#more_text{font-size:16px; line-height:36px; float:right; margin-right:15px;}
			