@CHARSET "UTF-8";
body{width:757px;float:right; margin: 0 auto;line-height:14px; font-size:12px;font-family:宋体,Arial; background:#FFF;}
body div{float:left; display:inline;}
body a{text-decoration:none;}

#p_middle{width:747px; margin-left:10px; color:#666666;}
		#m_photo{height:40px; width:747px; border-bottom:2px solid #DFDFDF; border-top:2px solid #DFDFDF; background:#f7f7f7;}
			#m_title{font-size:24px; line-height:40px; font-weight:bold; color:#005f9b; margin-left:8px;}
			#m_tl{font-size:36px; line-height:44px; font-weight:bold; color:#ece9d8; margin-left:8px;}
		
		#m_textbox{width:747px; border-bottom:2px solid #DFDFDF; background:#f7f7f7;}
			#m_text{width:707px; font-size:16px; text-align:justify; line-height:28px; margin:14px 0 10px 17px;}