#media{width:747px;background:#f7f7f7; color:#666666;}
#m_photo{height:40px; width:747px; border-bottom:2px solid #DFDFDF; border-top:2px solid #DFDFDF; background:#f7f7f7;}
#m_title{font-size:24px; line-height:40px; font-weight:bold; color:#005f9b; margin-left:12px;}
#m_tl{font-size:36px; line-height:44px; font-weight:bold; color:#ece9d8; margin-left:12px;}
.center{margin:20px 30px;width:600px;}
.center font{font-size:16px; line-height:32px;float:left;width:155px;font-weight:600;}
.center img{float:left;margin-left:50px;}
#sina img{margin-left:85px;}
#msn font{line-height:70px;float:left;}
#msn img{margin-left:80px;}
#jrj font{line-height:76px;float:left;}
#jrj img{margin-left:100px;}
#wsj font{line-height:60px;float:left;}
#wsj img{margin-left:68px;}
#vote{width:155px;height:133px;line-height:133px;}
#p_21{margin-top:17px;width:500px;margin-left:35px;}
#weekly img{margin-left:15px;margin-top:30px;}
#sound{margin-left:40px;margin-top:30px;}
#friend{margin-bottom:50px;width:600px;}
#friend font{line-height:120px;}
#help{width:155px;height:120px;line-height:120px;}
#ce{margin-left:30px;width:200px;}
#qjw{margin-left:30px;margin-top:20px;width:200px;}

#t1{height:28px;width:500px;margin-left:30px; line-height:18px;}
#t2{height:28px;width:500px;margin-left:30px; line-height:18px;}
#t3{height:85px;width:600px;margin-left:30px;line-height:28px;margin-bottom:10px;}
.z_b{float:left;}
.z_t{font-size:16px; margin-left:10px;}
.z_t_t{ font-size:16px; width:300px;margin-top:5px;margin-left:10px;}
#z_z{width:400px;margin-left:10px;}
.four{width:400px;line-height:28px;}
.t_t{font-size:16px; font-weight:800;color:black;}
#m_photo_s{height:30px; width:747px; border-bottom:1px solid #DFDFDF; border-top:1px solid #DFDFDF; background:#f7f7f7;}
#m_title_s{font-size:14px; line-height:30px; font-weight:bold; color:#005f9b; margin-left:12px;}
#m_tl_s{font-size:26px; line-height:30px; font-weight:bold; color:#ece9d8; margin-left:12px;}