#p_middle{width:747px; color:#666666;}
		#m_photo{height:40px; width:747px; border-bottom:2px solid #DFDFDF; border-top:2px solid #DFDFDF; background:#f7f7f7;}
			#m_title{font-size:24px; line-height:40px; font-weight:bold; color:#005f9b; margin-left:8px;}
			#m_tl{font-size:36px; line-height:44px; font-weight:bold; color:#ece9d8; margin-left:8px;}
		
		#m_textbox{width:747px; border-bottom:1px solid #DFDFDF; background:#f7f7f7;}
			#m_text{width:686px; font-size:16px; text-align:justify; line-height:28px; margin:20px 0 10px 30px;}
			#m_text font{color:#333333; font-weight:bold;}
			
		#r_box{Margin-top:10px;}
		#r_photo{height:40px; width:747px; border-bottom:2px solid #DFDFDF; border-top:2px solid #DFDFDF; background:#f7f7f7;}
			#c_title{font-size:24px; line-height:40px;float:left; font-weight:bold; color:#005f9b; margin-left:8px;}
			#r_tl{font-size:36px; line-height:44px; font-weight:bold; color:#ece9d8; margin-left:8px;}
		#r_textbox{width:747px;}
		#pho{margin:24px;}