body{margin:0; font-family:ËÎÌå; font-size:12px; }

#ibody{width:953px; margin:0 auto; margin-top:5px; }

#top{width:953px; height:227px; background:url(../image/top.jpg) no-repeat; overflow:hidden; float:left; display:inline;}
#top #top_txt{width:356px; height:39px; margin-top:30px; margin-left:300px; font-size:32px; font-weight:bold; color:#FAFAFA; text-align:center; overflow:hidden; float:left; display:inline;}
#top #top_sou{width:670px; height:44px; margin-top:25px; margin-left:145px; font-size:35px; font-weight:bold; color:#EAEAEA; text-align:center; overflow:hidden; float:left; display:inline;}
#top #top_bot{width:542px; height:34px; margin-top:22px; margin-left:213px; font-size:32px; font-weight:bold; color:#F1F1F1; text-align:center; overflow:hidden; float:left; display:inline;}

#menu{width:953px; height:40px; background:url(../image/menu.jpg) no-repeat; float:left; display:inline; }
#menu #fabu{width:90px; height:10px; margin-left:110px; margin-top:13px; float:left; display:inline;}
#menu_bottom{width:953px; height:24px; background:url(../image/top_tian.jpg) no-repeat; float:left; display:inline;}

#content{width:953px; float:left; display:inline;}
#content #left{width:202px; height:500px; overflow:hidden; float:left; display:inline;}
#content #right{width:280px; height:490px;  overflow:hidden; float:right;display:inline;}
#content #right #right_list1{width:280px; height:235px; padding-top:12px; padding-left:24px; background:url(../image/a.jpg) no-repeat; float:left;display:inline;}
#content #right #right_list1 img{float:left; display:inline;}
#content #right #right_list2{width:280px; height:104px; padding-top:13px; padding-left:14px; background:url(../image/b.jpg) no-repeat; float:left;display:inline;}
#content #right #right_list2 img{margin-top:3px; margin-left:10px; float:left;display:inline;}
#content #right #right_list3{width:280px; height:120px; padding-top:14px; padding-left:16px; background:url(../image/c.jpg) no-repeat; float:left;display:inline;}
#content #right #right_list3 img{margin-top:3px; margin-left:7px; float:left; display:inline;}



#content #left #kao_right{width:5px; height:203px; background:url(../image/left_tian_right.jpg) no-repeat; float:right; display:inline;}
#content #left #left_d{width:202px; height:215px; margin-top:4px; padding-top:8px; padding-left:14px; background:url(../image/d.jpg) no-repeat; float:left; display:inline;}
#content #left #left_jian{width:187px; height:25px; background:url(../image/left_jian.jpg) no-repeat; float:left; display:inline;}
#content #left #left_bang{width:202px; height:269px; padding-top:14px; padding-left:8px; background:url(../image/e.jpg) no-repeat; float:left; display:inline;}
#bang{width:150px; padding:10px; font-size:15px; font-weight:bold; color:#312727; float:left; display:inline;}
#bang_rong{width:175px; height:201px; margin-left:5px; margin-top:2px; background:#E1E0E1; float:left; display:inline;}
#left_bottom{width:185px; height:20px; background:url(../image/left_bottom.jpg) no-repeat; float:left; display:inline;}
#content #con{width:450px; height:485px; margin-top:7px; margin-left:17px; overflow:hidden; float:left; display:inline;}
#content #con_top{width:450px; height:35px;  color:#0C0000; background:#C4C2C3; float:left; display:inline;}
#content #con #con_order1{width:450px; height:415px; padding-top:10px; font-size:13px; line-height:22px; color:#333333;  float:left; display:inline;}
#bottom{width:953px; height:375px; margin-top:24px; overflow:hidden; float:left; display:inline;}
#bottom #bottom_top{width:953px; height:35px; background:#C4C2C3; overflow:hidden; float:left; display:inline;}
#bottom #bottom_bg{width:953px; height:245px; background:#F3F0F0; overflow:hidden; float:left; display:inline;}
#bottom #bottom_xx{width:953px; height:5px; margin-top:18px; background:url(../image/bottom_yellow.jpg) no-repeat center center; float:left; display:inline;}
#bottom #bottom_remark{width:710px; height:20px; margin-left:100px; margin-top:20px; font-size:13px; color:#8C8C8C; text-align:center; overflow:hidden; float:left; display:inline;}


.img{float:left; display:inline;}
.fu{margin-top:10px;margin-left:10px; font-size:15.5px; font-weight:bold; float:left; display:inline;}
.menu_con1{margin-left:78px; margin-top:13px; width:90px; height:10px; float:left; display:inline;}
.menu_con2{width:90px; height:10px; margin-left:70px; margin-top:13px; float:left; display:inline;}
.linefont{font-size:14px; font-weight:bold; color:#FFFFFF; text-decoration:none; float:left; display:inline;}
.xx{width:248px; height:25px; margin-left:5px; background:url(../image/left_jian.jpg) no-repeat; float:right; display:inline;}

.list_bg_bottom{width:208px; height:205px; margin-top:17px; margin-left:23px; background:#FFFFFF; border:1px solid #D5D2D3; overflow:hidden; float:left; display:inline;}
.right_bg_public{margin-left:3px; margin-top:0px; cursor:pointer; float:left; display:inline;}
.table_list{width:170px; margin-top:8px; padding-left:5px; font-family:Î¢ÈíÑÅºÚ; font-weight:bold; font-size:12.5px; color:#5E5E5E; text-align:left; line-height:18px; float:left;display:inline;}
/*.table_list1{width:55px; margin-left:7px; margin-top:7px; font-family:Î¢ÈíÑÅºÚ; font-weight:bold; font-size:13px; color:#5E5E5E; float:left;display:inline;}*/
.list_bg_style{margin-left:6px; margin-top:5px; float:left; display:inline;}
.left_bg_style{padding:5px; float:left; display:inline;}
#page a{font-size:13px; text-decoration:none;}

#page{text-align:center; width:400px;  float:left; display:inline;}

